<%= content_for :javascript_includes do %>
	<%= javascript_include_tag 'resumable.js' %>
	<%= javascript_include_tag 'tools_form.js' %>
<% end %>

<%= form_for(@tool, :remote => true, :html => {'data-type' => 'json', :id => 'new_tool'}) do |f|%>

	<div class='row-fluid'>

		<div id="error_box" class='alert alert-error span12'>
			
			<div id='errors'>
				
			</div>
			
		</div>
		
	</div>
	
	<div class='row-fluid'>
		<div class='field span12'>
			<%= f.label :name, "Title" %>
			<%= f.text_field :name, :class => 'span12'%>
		</div>
	</div>

	<div class='row-fluid'>
		<div class='field span4'>
			<%= f.label :url, "URL" %>
			<%= f.text_field :url, :class => 'span12', :placeholder => 'https://github.com/joyent/node' %>
		</div>

		<div class='field span4'>
			<%= f.label :license, "License" %>
			<%= f.autocomplete_field :license, '/corpora/autocomplete_license_name', :class => 'span12' %>
		</div>


		<div class='field span4'>
			<%= f.label :programming_language, "Programming Language" %>
			<%= f.autocomplete_field :programming_language, '/tools/autocomplete_programming_language_name', :class => 'span12' %>
		</div>

	</div>

	<div class='row-fluid'>
		<div class="field span4">
			<label for="tool_keywords"><i class='fa fa-fw fa-tags'></i> Keywords</label>

			<input class="span12 ui-autocomplete-input" data-autocomplete="/tools/autocomplete_tool_keyword_name" id="keyword_in" name="tool[keyword]" type="text" value="" autocomplete="off" placeholder="Enter Keyword">
			<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>


			<div class="holder nobgborder" id="keywords_holder">
			</div>
		</div>

		<div class='field span4'>
			<%= render :partial => 'shared/resumable_stuff' %>
		</div>

		<div class="field span4">
			<label for="uses_corpus_in">
				<i class='fa fa-fw fa-book'></i>
				For Corpora
			</label>

			<input class="memberInput span12 ui-autocomplete-input" data-autocomplete="/corpora/autocomplete_corpus_name" id="uses_corpus_in" name="tool[corpus]" type="text" value="" autocomplete="off" placeholder="Search Corpora">
			<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
			<div id="corpora_holder" class='holder'>
			</div>
			<br>
			
		</div>

		
	</div>

	<div class='row-fluid'>
		<div class='field span4'>
			<%= f.label :authors, "Authors" %>
			<textarea id='tool_authors' name='tool[authors]' class='big_desc span12'><%= @tool.authors %></textarea>
		</div>

		<div class='field span4'>
			<%= f.label :description, "Description" %>
			<textarea id='tool_description' name='tool[description]' class='big_desc span12'><%= @tool.description %></textarea>
		</div>

		<div class='field span4'>
			<label for='pub_in'>
				<i class='fa fa-fw fa-file-text'></i>
				Associated Publications
			</label>

			<input class="span12 ui-autocomplete-input" data-autocomplete="/publications/autocomplete_publication_name" id="pub_in" name="tool[publication]" type="text" value="" autocomplete="off" placeholder="Search Publication">

			<div class="holder" id="publications_holder">
			</div>

			<label for='owners'>
				<i class='fa fa-fw fa-user'></i> 
				Primary Owner
			</label>

			<%= f.autocomplete_field :owner, '/corpora/autocomplete_user_name', :value => current_user().email_format, :class => 'memberInput span12', :id => 'primaryOwner' %> 

		</div>
	</div>

	<div class='row-fluid'>
		<%= f.submit :class => 'btn btn-primary span12' %>
	</div>

<% end %>

<%= javascript_include_tag 'use_resumable.js' %>

<script type='text/javascript'>
	$(function() {
		<% if @tool %>
			<% @tool.keywords_array.each do |kw|%>
				add_to_keywords("<%=kw%>");
			<% end %>
		<% end %>

		<% if @corpora %>
			<% @corpora.each do |corp| %>
				add_to_corpora("<%= corp.name %>", "<%= corp.id %>");
			<% end %>
		<% end %>
	});
</script>