<div class='row-fluid memberListItem' id='memberListItem-<%=mem.id%>'>
	<div class='span5'>
	  <span class='member_name'><%= mem.user.name%></span>
	  <span class='member_email'><a href="mailto:<%= mem.user.email%>" class='btn btn-mini' target='_BLANK'>
	   	<%= render :partial => 'shared/icon', :locals => {:icon => 'envelope'}, :formats => [:html] %>&nbsp;
	  	<%= mem.user.email %></a></span>
	</div>

	<div class="span5 input-prepend">
		<span class="add-on"><i class="icon-list"></i></span>
		<%= select_tag "member_role_id-"+mem.id.to_s, options_for_select(ToolMembership.roles.map {|m| [m.capitalize, m] }, mem.role), :class => 'mem_role span11', 'data-id' => mem.id, 'data-cid' => @tool.id %>
	</div>

	<div class='span2 btn-group hButton'>
		<a href="#delete-confirm" data-id="<%= mem.id %>" data-name="<%= mem.user.name %>" data-cid="<%= @tool.id %>" class="delete-confirm btn" data-toggle="modal"><i class='icon-remove'></i></a>
	</div>
  
</div>
