<%= content_for :javascript_includes do%>
<% end %>

<div class='row-fluid'>
	<div class='span6'>
		<h3 class='tool_name'>
			<%= render :partial => 'shared/icon.tool' %>
			<%= @tool.name %> 
			

			<span class='label'>
				<i class='fa fa-fw fa-calendar'></i>		
				<%= @tool.to_timestring %>
			</span>
			
			<% if @tool.programming_language && @tool.programming_language.present? %>
				<span class='lang'>
					<i class='fa fa-fw fa-language'></i>
					<%= @tool.programming_language %>
				</span>
			<% end %>
		</h3>
	</div>

	<div class='span6'>
		<ul class="nav nav-pills">
			<li class='pull-right <%= "active" if tab=="details"%> '>
				<a href="<%=tool_path(@tool)%>">Details</a>
			</li>
			
			<li class='pull-right <%= "active" if tab=="corpora"%>'>
				<a href="<%= corpora_tool_path(@tool)%>">Corpora</a>
			</li>
			<li class='pull-right <%= "active" if tab=="publications"%>'>
				<a href="<%= publications_tool_path(@tool)%>">Publications</a>
			</li>

			
			<% if @tool.canEdit?(current_user) %>
			<li class='pull-right <%= "active" if tab=="members"%> '>
				<a href="<%= manage_members_tool_path(@tool)%>">Manage Members</a>
			</li>
			
			<% end %>
		</ul>
	</div>

</div>
<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'tools'} %>