<% content_for :javascript_includes do %>
  <%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>


<%= render :partial => 'tabs', :locals => {:tab => 'corpora'} %>

<% if @tool.corpora && @tool.corpora.size > 0%>
	<h3 class=''><%= pluralize(@tool.corpora.length, "Corpus", "Corpora") %></h3>
	<% @tool.corpora.each do |c|%>
		<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => c} %>
	<% end %>
<% end %>