<%= content_for :javascript_includes do %>
	<%= javascript_include_tag 'resource_index.js' %>
<% end %>

<h1 class='resourceIndexHeader'>Tools &amp; Resources</h1>

<% unless user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please <a href='/users/sign_in'>Sign-in</a> or <a href='/users/sign_up'>Register</a> to upload and edit your own Tools.</h5>
	</div>
<% end %>

<div class='indexTop row-fluid'>
	<div class='resourceSearchBar span6'>

	</div>
	
	<div class='span6 paginationWrapper'>
		<%= paginate @tools %>
	</div>
</div>

<% @tools.each do |t| %>
	<%= render :partial => "shared/tool_index1", :locals => {:tool => t} %>
<% end %>

<% if  user_signed_in? %>
	<div class='row-fluid'>
		<a class='btn span12' href='/tools/new'>New Tool</a>
	</div>
<% end %>
<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'tools'} %>