<%= content_for :javascript_includes do %>
	<%= javascript_include_tag 'show_fix.js' %>
<% end %>

<%= render :partial => 'tabs', :locals => {:tab => 'details'} %>

<% unless @tool.description.blank? %>
	<div class='row-fluid'>
		<div class='box borderfree span12'>
			<div class='boxheader small toggleable'>Description</div>

			<div class='boxcontent'>
				<%=raw markdown(@tool.description) %>

				<% if @tool.keywords && !@tool.keywords.blank? %>
					<br/>
					<% @tool.keywords_array.each do |kw| %>
						<%= render :partial => 'shared/keyword', :locals => {:kw => kw} %>
					<% end %>
				<% end %>
			</div> <!-- end of box content -->
		</div> <!-- end of box -->
	</div>
<% end %>



<div class='row-fluid'>
	<div class='box span4 r1-box'>
		<div class='boxheader small'>Authors</div>
		<div class'boxcontent'>
			<br>
			<ul>
			<% @tool.authors.split("\n").each do  |author|%>
				<li><%= author %></li>
			<% end %>
			</ul>
		</div> <!-- end of box content -->
	</div> <!-- end of box -->

	
	<div class='box span4 r1-box'>
		<div class='boxheader small'>External Link</div>

		<div class='boxcontent'>
			<% if @tool.url && !@tool.url.blank? %>
			<div class='center'>
				<div class='follow-link-url'><%= @tool.url %></div>
				<br/>

				<a href='/tools/<%= @tool.id %>/follow' target='_blank' class='btn btn-primary'>
					<%= render :partial => 'shared/icons/outlink' %>
					Follow Link
				</a>

				<br/>
			</div>
			<% end %>
		</div> <!-- end of box content -->
	</div> <!-- end of box -->
	

	<div class='box span4 r1-box'>
		<div class='boxheader small'>Our Copy</div>
		<div class='boxcontent'>
			<% if @tool.local %>
				<div class='center'>
					<br>
					<a class='btn btn-primary' href="/tools/<%= @tool.id %>/download">
						<%= render :partial => 'shared/icons/download' %>
						Download
					</a>
				</div>
			<% end %>
		</div> <!-- end of box content -->
	</div> <!-- end of box -->
</div>


<!-- memberships row -->
<div class='row-fluid'>
	<div class='box borderfree span4 r2-box'>
		<div id='owners_hd' class='boxheader small'>
			<%= pluralize(@tool.owners.size, 'Owner', 'Owners') %>
		</div>
		<div class='boxcontent padfree'>
			<% @tool.owners.each do |m| %>
				<%= render :partial => 'shared/s.member', :locals => {:mem => m} %>
			<% end %>
		</div> <!-- end of box content -->
	</div> <!-- end of box -->

	<div class='box borderfree span4 r2-box'>
		<div class='boxheader small' id='owners_hd'><%= pluralize(@tool.reviewers.size, 'Reviewer', 'Reviewers') %></div>
		<div class='boxcontent padfree'>
			<% @tool.reviewers.each do |m| %>
				<%= render :partial => 'shared/s.member', :locals => {:mem => m} %>
			<% end %>
		</div>
	</div>

	<div class='box borderfree span4 r2-box'>
		<div class='boxheader small' id='owners_hd'><%= pluralize(@tool.members.size, 'Member', 'Members') %></div>
		<div class='boxcontent padfree'>
			<% @tool.members.each do |m| %>
				<%= render :partial => 'shared/s.member', :locals => {:mem => m} %>
			<% end %>
		</div> <!-- end of box content -->
	</div> <!-- end of box -->
</div>

<div class='row-fluid'>
	
	<div class='box borderfree span4 r3-box'>
		<div class='boxheader small'>
			<%= pluralize(@tool.corpora.length, "Corpus",
		"Corpora") %>
		</div>
		<div class='boxcontent padfree'>
			<% @tool.corpora.limit(5).each do |c|%>
				<%= render :partial => 'shared/corpus_index_small', :locals => {:corpus => c} %>
			<% end %>
		</div>

		<div class='boxcontent'>
			<% if @tool.corpora && @tool.corpora.size > 5%>
				<a href='<%= corpora_tool_path %>' class='pull-right'>See All</a>
				<br/>
			<% end %>
		</div>
	</div>
	

	<div class='box borderfree span4 r3-box'>
		<div class='boxheader small'>
			<%= pluralize(@tool.publications.length, "Publication",
		"Publications") %>
		</div>
		<div class='boxcontent padfree'>
			<%@tool.publications.limit(5).each do |p|%>
				<%= render :partial => 'shared/publication_index_small', :locals => {:p => p} %>
			<% end %>
		</div>
		<div class='boxcontent'>
			<% if @tool.publications && @tool.publications.size > 5 %>
				<a href='<%= publications_tool_path %>' class='pull-right'>See All</a>
				<br/>
			<% end %>
		</div>

	</div>
	
</div>




<%= render :partial => 'footer' %>
<%= javascript_include_tag 'handle_box_toggleable.js' %>