<% content_for :javascript_includes do %>
	<%= javascript_include_tag "resource_index.js" %>
<% end %>
<% if notice %>
	<div class='alert alert-error'>
		<button type='button' class='close' data-dismiss='alert'>×</button>
		<%= notice %>
	</div>
<% end %>

<% @super_users.each do |u| %>
	<div class='corpi_item' data-show='#'>
		<h4 class='index-header1'><%= u.name %></h4>

		<%= u.email %>
		<p>
			<b>Institutions: </b>
			<% u.insts.each do |inst| %>
				<span class='badge badge-info inst'><%= inst.name %></span>
			<% end %>
		</p>

		<div class='index-item-info-bar'>
			
		</div>
		
		
		<div class='index-item-option-bar'>
			<a href="mailto:<%= u.email%>" class='btn btn-mini mem-email' target='_BLANK'>
				<i class='icon-envelope'></i>&nbsp;Email
			</a>

			<a href="#delete-confirm-<%=u.id%>" data-id="<%= u.id %>"
			class="delete-confirm btn btn-mini btn-danger pull-right" data-toggle="modal">
				<i class='icon-remove-sign'></i>&nbsp;Delete
			</a>
		</div>
		
				
	</div>

	<div class="modal fade" id="delete-confirm-<%= u.id %>" style="display:none">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Are you sure?</h3>
		</div>
		<div class="modal-body">
			<p>Just checking.</p>
		</div>
		<div class="modal-footer">
			<%= link_to 'Destroy', '/admins/'+u.id.to_s, :method => :delete, :class => 'btn' %>
			<a href="#" data-dismiss="modal" class="btn">Cancel</a>
		</div>
	</div>

<% end %>