
<table class='propertyTable'>
	<tr>
		<th>
			Ago
		</th>
		<th>
			Timestamp
		</th>
		<th>
			User
		</th>
		<th>
			Resource Type
		</th>
		<th>
			Input
		</th>
		<th>
			Result
		</th>
	</tr>
	<% @items.each do |e| %>
	<tr>
		<td>
			<%= time_ago_in_words(e.created_at) %>
		</td>
		<td>
			<%= e.created_at %>
		</td>
		<td>
			<a href='/users/<%= e.user_id %>'><%= e.user.name %></a>
		</td>
		<td>
			<%= e.resource_type.name %>
		</td>
		<td>
			<%= e.input %>
		</td>
		<td>
			<% output = eval(e.output) %>
			<% pluralResource = e.resource_type.name.pluralize(2) %>
			<% output.each do |id| %>
				<a href='/<%= pluralResource %>/<%= id %>'><%= id %></a>
				&nbsp;
			<% end %>
		</td>
	</tr>
	<% end %>
</table>