<%= content_for :javascript_includes do%>
<% end %>

<h2><%= @pub.name %> 
	<% if @pub.pubdate && @pub.pubdate.year != 0 %>
		<span class='badge'>
			<%= @pub.pubdate.year %>
		</span>
	<% end %>
</h2>

<ul class="nav nav-tabs">
	<li class='pull-right <%= "active" if tab=="details"%> '>
		<a href="<%=publication_path(@pub)%>">Details</a>
	</li>

	
	<% if @pub.canEdit?(current_user) %>
	<li class='pull-right <%= "active" if tab=="members"%> '>
		<a href="<%=manage_members_publication_path(@pub)%>">Manage Members</a>
	</li>
	<li class='pull-right <%= "active" if tab=="corpora"%> '>
		<a href="<%=corpora_publication_path(@pub)%>">Corpora</a>
	</li>
	<% end %>

	


</ul>
