<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>


<%= render :partial => 'tabs', :locals => {:tab => 'corpora'} %>
<% if @pub.corpora && @pub.corpora.size > 0%>
		<h3 class=''><%= pluralize(@pub.corpora.length, "Corpus", "Corpora") %></h3>
		<% @pub.corpora.each do |c|%>
			<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => c} %>
		<% end %>
<% end %>

<%= render :partial => 'footer' %>
