<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>


<%= render :partial => 'tabs', :locals => {:tab => 'corpora'} %>

<% if current_user() %>
	<% if @pub.canEdit?(current_user()) %>
		<%= form_tag add_corpus_rel_publication_path(@pub), :method => 'get', :id => 'add_corpora_rel' do%>
			<div class='row-fluid'>
				<div class='span6'>
					<div class="input-prepend span11">
						<span class="add-on"><i class="icon-book"></i></span>
						<input class="span12 ui-autocomplete-input" data-autocomplete="/corpora/autocomplete_corpus_name" id="corp_in" name="name" type="text" value="" autocomplete="on" required>
					</div>
				</div>

				<div class='span4'>
					<input id="new_rel_input" class="ui-autocomplete-input span12" data-autocomplete="/corpora/autocomplete_publication_corpus_relationship_name" type="text" value="" autocomplete="on" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="relationship" placeholder="Relationship">
				</div>
				<div class='span2'>
					<input type='submit' class='btn btn-small' value="Add Relationship" />
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>

<% @publicationCorpusRelationships.each do |rel| %>
<div class='row-fluid'>
		<% if current_user() && @pub.canEdit?(current_user()) %>
		<div class='span3'>
			<label for='relationship-<%=rel.id%>' class='tag'>
				Relationship To Corpus
			</label>

			<%= form_tag update_corpus_rel_publication_path(@pub), :method => "get" do%>
				<input id="relationship-<%= rel.id %>" class="ui-autocomplete-input span12" data-autocomplete="/corpora/autocomplete_publication_corpus_relationship_name" type="text" value="<%= rel.name %>" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="relationship">
				<input type="hidden" name="rid" value="<%= rel.id %>"/>

				<div class="btn-group" data-toggle="buttons-radio">
					<input type="submit" value="Update Relationship" class="btn"/>
					<a href="#delete-rel-<%= rel.id %>" class='delete-confirm btn btn-danger' data-id='<%= rel.id %>' data-toggle="modal">Unlink</a>
				</div>
				
			<% end %>

			

			<div class="modal fade" id="delete-rel-<%= rel.id %>" style="display:none">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>Are you sure?</h3>
				</div>
				<div class="modal-body">
					<p>Just checking.</p>
				</div>
				<div class="modal-footer">
					<%= link_to 'Destroy', '/publications/'+@pub.id.to_s+"/delete_corpus_rel?rid="+rel.id.to_s, :method => :delete, :class => 'btn' %>
					<a href="#" data-dismiss="modal" class="btn">Cancel</a>
				</div>
			</div>

		</div>
		<% end %>

		<div class='<%= (current_user() && @pub.canEdit?(current_user())) ? "span9" : "span12" %>'>
			<span class='label label-important'>This Publication</span>

			<i class='icon-arrow-right'></i>
			<span class='badge badge-warning'><%= rel.name %></span>
			<i class='icon-arrow-right'></i>
			<br/><br/>

			<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => rel.corpus} %>
		</div>

		
		
	</div>
<% end %>

<%= render :partial => 'footer' %>
