<tr class='row-fluid message-row' data-id='<%= m.id %>' id='message-row-<%= m.id %>'>
	<td class=''>
		<input type='checkbox' class='messageSelect' data-id='<%= m.id %>'/>
	</td>
	<td class=''>
		<% if m.topic && ! m.topic.blank? %>
			<%= m.topic %>
		<% else %>
			<%= text_snippet(m.body,25) %>
		<% end %>
	</td>

	<td>
		<small class='label message-row-ago'>
			<%= time_ago_in_words(m.updated_at) %> ago
		</small>
	</td>


	<td>
		<span class="member_email" title="<%= m.from.name %>">
			<a href="/users/<%= m.from.id %>" class="member-link" target="_BLANK">
				<%= m.from.name %>
			</a>
		</span>
	</td>
	
	<td>
		<i class='icon-arrow-right'></i>
	</td>
	<td>
		<span class="member_email" title="<%= m.to.name %>">
			<a href="/users/<%= m.to.id %>" class="member-link" target="_BLANK">
				<%= m.to.name %>
			</a>
		</span>
	</td>
	
</tr>