<tr onclick="window.location = '/user/inbox?v=<%=view %>&mid=<%= m.id %>';">
	<td>
		<% if m.topic && ! m.topic.blank? %>
			<%= m.topic %>
		<% else %>
			<%= text_snippet(m.body,20) %>
		<% end %>
	</td>

	<td>
		<%= render :partial => 'shared/user_small1', :locals => {:user => m.from } %>
	</td>
</tr>