<div class='user-action row-fluid' data-id='<%= ua.id %>' id='user-action-<%= ua.id %>'>
	<table>
		<tr>
			<td class='fixedwidth20' rowspan='2'>
				<% case ua.user_action_type.name %>
				<% when 'download' %>
				<i class='icon-download user-action-icon'></i>
				<% when 'upload' %>
				<i class='icon-upload user-action-icon'></i>
				<% when 'file_rename' %>
				<i class='icon-edit user-action-icon'></i>
				<% when 'follow_link' %>
				<i class='icon-share user-action-icon'></i>
				<% else %>
				<% end %>
				&nbsp;
			</td>
			<td class='top'>
				<span class='ago'>
					<%= time_ago_in_words(ua.created_at)%> ago from <a href='<%= url_for(ua.user) %>'><%= ua.user.name %></a>
				</span>
			</td>
			<td rowspan='2' class='fixedwidth50'>
				<a href='<%= url_for(ua.user) %>'>
					<img class='user-avatar-small pull-right' src='<%= gravatar_user_path(:id => ua.user.id, :size => 50)%>' title="<%= ua.user.name %>" alt="<%= ua.user.name %>"/>
				</a>
			</td>
		</tr>

		<%= render :partial => "#{ua.user_actionable.class.table_name}/user_#{ua.user_action_type.name}_action", :locals => {:ua => ua } %>

	</table>
</div>