<h2>Messages <%= @view.to_s.capitalize %></h2>

<div class='row-fluid'>
	<div class='span3'>
		<a class='btn span12' id='compose_bt' href='#compose'>
			<i class='icon-pencil'></i>&nbsp; Compose
		</a>
		<br/><br/>
		<ul class="nav nav-tabs nav-stacked">
			<li class='l-nav' id='received_tab'><a href='/user/inbox?v=received' class=''>Inbox 
				<span class='badge pull-right count' id='received-size'><%= @received.size %></span>
			</a></li>

			<li class='l-nav' id='unread_tab'><a href='/user/inbox?v=unread' class=''>Unread 
				<span class='badge pull-right count' id='unreaded-size'><%= @received.unreaded.size %></span>
			</a></li>

			<li class='l-nav' id='read_tab'><a href='/user/inbox?v=read' class=''>Read
				<span class='badge pull-right count' id='readed-size'><%= @received.readed.size %></span>
			</a></li>

			<li class='l-nav' id='sent_tab'><a href='/user/inbox?v=sent' class=''>Sent 
				<span class='badge pull-right count' id='sent-size'><%= @sent.size %></span>
			</a></li>

			<li class='l-nav' id='trash_tab'><a href='/user/inbox?v=trash' class=''>Trash
				<span class='badge pull-right count' id='deleted-size'><%= @deleted.size %></span>
			</a></li>
		</ul>
	</div>

	<div class='span9'>

		<div class='row-fluid' id='compose_panel' style="display:none;border:1px solid #bbb;margin-bottom:10px;padding:5px; padding-top:8px;box-shadow:0 0 5px #888; background-color:#fff">
				
				
				<a class='pull-right' id='compose_close_bt' href='#' style="margin-top:-8px;text-decoration:none">
					<i class='icon-remove'></i>
				</a>
				<span id='to-label' style='position:relative;top:-2px; color:#8f8f8f;border-bottom:1px solid #efefef;font-size:14px;margin:0px;text-align:right; padding-left:5px'>To &nbsp; </span><span class='message-recipients' style='position: relative; top:-2px; margin: 0px; border-bottom:1px solid #efefef'></span><input type='text' style='border-radius:0px; height:1em; outline:none; border:0px solid black; box-shadow: inset 0px 0px 0px;width:80%;border-bottom:1px solid #efefef' id='user-search'/>

				<input type='text' style='border-radius:0px; height:1em; outline:none; border:0px solid black; box-shadow: inset 0px 0px 0px;width:84%;border-bottom:1px solid #efefef' placeholder="Subject" id='compose-subject'/>

				<textarea style='border:0px solid black; border-radius:0px;resize:none;width:98%;height:10em;box-shadow: inset 0px 0px 0px;'></textarea>

				<hr style='margin-bottom:4px;'/>
				<button class='btn btn-small btn-primary' style="opacity:0.9">Send</button>
				
		</div>

		<div class='ib-component'>

		<div class='row-fluid' style="margin-bottom:5px;">
			<% unless @message %>
				<div class='btn btn-mini' id='messagesToggle_bt'>Toggle</div>
			<% end %>

			<div class='btn-group'>
				<% if @view == :trash %>
					<button class='btn btn-mini' id='restore_bt'>Restore</button>
					<button class='btn btn-mini btn-danger' id='delete_bt'>Delete</button>
				<% else %>
					<% if @view != :sent %>
						<% if @view != :read %>
						<button class='btn btn-mini <%= "btn-primary" if @message %>'>Mark as Read</button>
						<% end %>
						<% if @view != :unread %>
						<button class='btn btn-mini'>Mark as Unread</button>
						<% end %>
					<% end %>
					<button class='btn btn-mini btn-danger' id='delete_bt'>Delete</button>
				<% end %>
			</div>
			<span class='badge badge-info'><span id='numMessagesSelected'>0</span> Selected</span>
		</div>

		<% if @message && !@message.is_a?(Array)%>
			<div class='row-fluid' id='current-message' data-id='<%= @message.id %>'>
				<h6>
					<span class=''><%= @message.created_at %></span>
					<span class='badge pull-right'>
						<%= time_ago_in_words(@message.created_at)%> ago
					</span>
				</h6>

				<table>
					<tr>
						<td>
							<span class='label'>From: </span>
						</td>

						<td>
							<%= render :partial => 'shared/user_small1', :locals => { :user => @message.from} %></td>
						</td>

					</tr>
					<td>
						<span class='label'>To:</span>
					</td>
					<td>
						<%= render :partial => 'shared/user_small1', :locals => { :user => @message.to } %> </h6>
					</td>
					<tr>
						<td colspan='2'>
							<span class='label'>Subject:</span> &nbsp;
							<span><%= @message.topic %></span>
						</td>
					</tr>
				</table>
				<br/>
			</div>
			<div class='row-fluid'>
				<div class='span12' style="padding:1em; border-left:2px solid orange;background-color:#fafafa">
					<%= @message.body %>
				</div>
			</div>

		<% else %>
			<table width="100%" class='inbox_table' id='message-table'>
			<% @select_messages.process do |m| %>
				<%= render :partial => 'inbox_message', :locals => {:m => m, :view => @view} %>
			<% end %>
			</table>
		<% end %>
	</div> <!---end of .ib-component-->
	</div> <!---end of .span9-->
</div>

<div class="modal hide fade" id="delete-confirm" style="display:none">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p id='delete-message'>You are about to delete <span class='badge badge-warning' id='delete-count'></span> message item<span id='delete-plural'>s</span>.</p>
	</div>
	<div class="modal-footer">
		<button class='btn btn-danger' id='yes-delete'>Yes, Delete</button>
		<a href="#" data-dismiss="modal" class="btn">Cancel</a>
	</div>
</div>

<div id='user-search-result' style="position:absolute; display:none; background-color:#fefefe; border:1px solid #efefef;">
</div>

<script type='text/javascript'>
	var _view = "";
	var _overMessageSelect = false;
	var _selectedMessages = null;
	var _maxMemberSize = 0;
	var _people_result = null;

	var _counts = new Array();
	$('.count').each(function(i) {
		_counts.push(parseInt($(this).html()));
	});
	console.log(_counts);

	//----MAIN-----
	restoreState();




	<% if @message %>
		_selectedMessages = [$('#current-message').attr('data-id')];
		console.log(_selectedMessages);
		$('#numMessagesSelected').html(_selectedMessages.length);
	<% else %>
		updateSelected();
	<% end %>

	adjustMemberLinks();
	//----------------------------------------------------------------------


	//----EVENTS------------------------------------------------------------
	$('#compose-subject').live('focus', function() {
		console.log("compose subject focus");
		$('#user-search-result').hide();
	});
	$('.user-result').live('mouseenter', function() {
		$(".user-result").removeClass("user-selected");
		$(this).addClass('user-selected');
	});

	$('#user-search').live('keyup', function(e) {
		if(e.keyCode == 27) {
			$('#user-search-result').hide();
			return;
		}

		var v = $(this).val();
		if(v.length == 0 || v.match(/^\s+$/)) {
			$('#user-search-result').hide();
			return;
		}

		$.getJSON("/users/mixed_search", {q:v}, function(data) {
			_people_result = data;
			// console.log(_people_result);
			var html = "";
			for(var i in _people_result) {
				html += "<div class='user-result' data-id='"+_people_result[i].id+"' data-index='"+i+"'><div class='name'>"+_people_result[i].name+"</div><div class='email'>"+_people_result[i].email+"</div></div>";
			}
			$('#user-search-result').html(html);

			//refactor this into CSS
			// $('.user-result').css('padding', '5px');
			// $('.user-result').css('margin', '0px');
			// $('.user-result .name').css('font-weight', 'bold');
			// $('.user-result .name').css('font-size', '12px');
			// $('.user-result .email').css('font-size', '10px');
			// $('.user-result .email').css('color', '#444');
			// $('.user-result .email').css('padding', '0px');
			// $('.user-result .email').css('margin-top', '-8px');
			//---------------------------------------------

			var o = $('#user-search').offset();
			$('#user-search-result').css('top',o.top+22);
			$('#user-search-result').css('left',o.left+$('#message-recipients').width()+13);
			$('#user-search-result').css('width',$('#user-search').width() + $('#message-recipients').width());
			$('#user-search-result').css('height',($('.user-result:first').height()+12)*_people_result.length);
			$('#user-search-result').show();


			$('.user-result:first').addClass('user-selected');
			// $('.user-selected').css("background-color", "#efefef");
		});

	});

	$('#compose_bt').live('click',function() {
		console.log("Compose BT");
		$('.ib-component').slideUp();
		$('#compose_panel').slideDown();
		$('#user-search').focus();
	});
	$('#compose_close_bt').live('click', function() {
		console.log("Compose Close BT");
		$('#user-search-result').hide();
		$('#compose_panel').slideUp();
		$('.ib-component').slideDown();
	});
	$('.messageSelect').on('mouseenter', function() {
		//console.log("over message select");
		_overMessageSelect = true;
	});
	$('.messageSelect').on('mouseleave', function() {
		//console.log("left message select");
		_overMessageSelect = false;
	});
	$('#messagesToggle_bt').click(function() {
		_overMessageSelect = true;
		$('.messageSelect').each(function() {
			$(this).click();
		});
		_overMessageSelect = false;
	});
	$('.messageSelect').on('change', updateSelected);
	$('#delete_bt').click(function() {
		console.log("DELETE!");
		if(_selectedMessages.length > 0) {
			$('#delete-confirm').modal('show');
			if(_selectedMessages.length == 1) {
				$('#delete-plural').html("");
			} else {
				$('#delete-plural').html("");
			}
			$('#delete-count').html(_selectedMessages.length);
		}
	});
	$('#yes-delete').click(function() {
		console.log("YES DELETE");
		var mids = _selectedMessages.join("\n");

		$.getJSON('/user/inbox_delete', {'mids': mids}, function(data) {
			console.log(data);
		});

		for(i in _selectedMessages) {
			$('#message-row-'+_selectedMessages[i]).remove();
		}
		updateSelected();
		console.log(_selectedMessages.size);


		$('#deleted-size').html(_selectedMessages.size);

		$('#delete-confirm').modal('hide');
	});
	//------FUNCTIONS---------------------------------------------
	function restoreState() {
		var capture = /v=(\w+)/.exec(document.URL);
		if(capture) {
			_view = capture[1];
		}
		var target = $('#'+_view + "_tab");
		if(target.length) {
			target.addClass('active');
		} else {
			$('#received_tab').addClass('active');
		}

		//now restore composition state
		capture = /\#(\w+)/.exec(document.URL);
		if(capture) {
			eval("stateRestore_"+capture[1]+"()");
		}

	}
	function stateRestore_compose() {
		console.log("Restoring compose state");
		$('.ib-component').slideUp();
		$('#compose_panel').slideDown();
		$('#user-search').focus();
	}
	function messageOpen(str) {
		if(_overMessageSelect) {
			return;
		}
		window.location = str;
	}
	function updateSelected() {
		_selectedMessages = new Array();
		$('.messageSelect').each(function(item) {
			var row = $(this).parent().parent();
			if($(this).attr('checked') === 'checked') {
				row.addClass('selected');
				_selectedMessages.push(row.attr('data-id'));
			} else {
				row.removeClass('selected');
			}
		});
		console.log(_selectedMessages);
		$('#numMessagesSelected').html(_selectedMessages.length);
	}
	function adjustMemberLinks() {
		$(".member-link").each(function() {
			var w = $(this).html().length;
			if(w > _maxMemberSize) {
				_maxMemberSize = w;
			}
		});
		$(".member-link").each(function() {
			var h = $(this).html();
			var w = h.length;
			if(w < _maxMemberSize) {
				$(this).html(h + Array(_maxMemberSize-w+1).join("&nbsp; "));
			}
		});
	}
</script>