<table class='pretty-table'>
	<tr>
		<% if current_user().super_key %>
		<th>
			ID
		</th>
		<% end %>

		<th>Name</th>

		<% if current_user().super_key %>
		<th>Email</th>
		<th>
			<button class='btn' id='uselect_btn'>Select</button>
		</th>
		<% end %>
	</tr>
	
	<%@users.each do |user| %>
	<tr>
		<% if current_user().super_key %>
		<td>
			<%= user.id %>
		</td>
		<% end %>

		<td class='lefted'>
			<a href="/users/<%= user.id %>">
				<img class='user-avatar-small' src='<%= gravatar_user_path(:id => user.id, :size => 50)%>' title="<%= user.name %>" alt="<%= user.name %>"/>
				<%= user.name %>
			</a>
		</td>

		<% if current_user().super_key %>
		<td class='lefted'>
			<%= render :partial => 'shared/mail_button', :locals => {:user => user } %>
		</td>
		<td>
			<input type='checkbox' class='uselect' data-uname='<%= user.name %>' data-uemail='<%= user.email%>'/>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

<% if current_user().super_key %>
<br/>
<h4>Combined Mail-To Field For Selected Users <span class='badge' id='selected-count'></span></h4>
<div class='row-fluid'>
	<pre class='span12' id='emails_selected'></pre>
</div>
<br/>
<h4>CSV for Importing All Users</h4>
<div class='row-fluid'>
		<pre class='span12'>
Name,Email
<% @users.each do |user| %>
<%= user.name %>,<%= user.email %>
<% end %>
		</pre>
</div>
<% end %>

<script type="text/javascript">
 $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");

        $('#uselect_btn').click(function() {
        	$('.uselect').each(function(e) {
        		$(this).click();
        	});
        });

        $('.uselect').on('change', function() {
        	var emails = new Array();
        	$('.uselect').each(function() {
        		if($(this).prop('checked'))
        		emails.push( $(this).attr('data-uname') + " <" + $(this).attr('data-uemail') + ">" );
        	});
        	$('#selected-count').text(emails.length);
        	$('#emails_selected').text(emails.join(","));
        });
	});
</script>
