<% my_corpora = @user.owner_of %>
<% my_pubs = @user.publication_owner_of %>
<% my_tools = @user.tool_owner_of %>

<div class='row-fluid'>
	<div class="span3">
		<div class='box bordered1'> 
			<div class='boxheader toggleable small'>
				<%= @user.name%>
			</div>
			
			<div class='boxcontent padfree'>
				
				<% insts = @user.insts %>

				<div class='avatar-wrapper'>
					<%= image_tag gravatar_user_path(:id => @user.id), :id => :profile_avatar %>
				</div>

				<div id='inst_holder'>
					<div class='center'>

						<% insts.each do |inst| %>
						<span class='badge badge-info inst'>
							<i class='fa fa-fw fa-university inst-icon'></i>
							<%= inst.name %>
						</span>
						<% end %>

						<% if insts.size == 0 %>
								<span class='badge badge-warning inst'>Unaffiliated</span>
						<% end %>
						<br/>
					</div>

					<% if current_user && current_user.super_key != nil %>
						<div class='email-dec-wrapper'>
						<% @user.email.split(/(\W)/).each do |part| %>
							<span class='email-dec'><%= part %></span>
						<% end %>
					</div>
					<% end %>
				</div>
			</div> <!-- end of boxheader -->
		</div> <!-- end of box -->
	</div> <!-- end of span -->

	<div class='span5'>
		
	</div>

	<div class='span4'>
		<% if @user.owner_of.size > 0 || @user.approver_of.size > 0 || @user.member_of.size > 0 %>
			<div class='box borderfree'>
				<div class='boxheader small toggleable'>
					Corpora
					<span class='pull-right resource-count'><%= my_corpora.size%></span>
				</div>

				<div class='boxcontent padfree'>
					<% (@user.owner_of + @user.approver_of + @user.member_of).uniq.each do |corpus| %>
						<%= render :partial => 'shared/corpus_index_small', :locals => {:corpus => corpus} %>
					<% end %>
				</div> <!-- end of boxcontent -->
			</div> <!-- end of box -->
		<% end %>

		<% if @user.publication_owner_of.size > 0 %>
			<div class='box borderfree'>
				<div class='boxheader small toggleable'>
					Publications
					<span class='pull-right resource-count'><%= my_pubs.size%></span>
				</div>

				<div class='boxcontent padfree'>
					<% @user.publication_owner_of.each do |pub| %>
						<%= render :partial => 'shared/publication_index_small.html.erb', 
						:locals => {:p => pub} %>
					<% end %>
				</div>
			</div>
		<% end %>


		<% if @user.tool_owner_of.size > 0 %>
			<div class='box borderfree'>
				<div class='boxheader small toggleable'>
					Tools
					<span class='pull-right resource-count'><%= my_tools.size%></span>
				</div>

				<div class='boxcontent padfree'>
					<% @user.tool_owner_of.each do |tool| %>
						<%= render :partial => 'shared/tool_index_small', :locals => {:tool => tool} %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<% if current_user && current_user.super_key != nil %>
<br/>
<div class='row-fluid'>
		<div class='span6'>
			<a href='#destroy-confirm-<%= @user.id %>' class='delete-confirm btn btn-small btn-danger' data-toggle='modal'>
				<i class='fa fa-fw fa-bomb'></i>
				Destroy User
			</a>
		</div>
</div>
<% end %>

<div class='modal hide fade' id='destroy-confirm-<%= @user.id %>' style='display:none'>
	<div class='modal-header'>
		<a class='close' data-dismiss='modal'>x</a>
		<h3>Are you sure?</h3>
	</div>
	<div class='modal-body'>
		<p>Are you sure you wish to permanently <b>destroy</b>
			user <span class='label'><%= @user.name %></span> with email <span class='label label-info'><i><%= @user.email%></i></span>?
		</p>
	</div>
	<div class='modal-footer'>
		<%= link_to 'Destroy', '/users/'+@user.id.to_s, :method => :delete, :class => 'btn btn-danger' %>
		<a href="#" data-dismiss="modal" class="btn">Cancel</a>
	</div>
</div>

<%= javascript_include_tag "handle_box_toggleable.js" %>