<div class='row-fluid'>
	<div class="span3">
		<div class='box' style='word-wrap: break-word'> 
			<center>
				<h5 class='boxheader'><%= @user.name%></h5>
				<% insts = @user.insts %>

				<%= image_tag @user.gravatar_url(:png)%>
				
				<br/><br/>

				<% insts.each do |inst| %>
				<span class='badge badge-info inst'><%= inst.name %></span>
				<% end %>

				<% if insts.size == 0 %>
					<span class='badge badge-warning inst'>Unaffiliated</span>
				<% end %>

				<% if current_user && current_user.super_key != nil %>
					<br/><br/>
					<small><%= @user.email%></small>&nbsp;
					<i class='icon-eye-open'></i>
					<br/>
				<% end %>
			</center>
		</div>
	</div>

	<div class='span4'>
		
	</div>

	<div class='span5'>
		<% if @user.owner_of.size > 0 || @user.approver_of.size > 0 || @user.member_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= @user.owner_of.size + @user.member_of.size + @user.approver_of.size%></span>
				</div>
				<div class='span10'><strong>Corpora</strong></div>
			</div>
			<% (@user.owner_of + @user.approver_of + @user.member_of).uniq.each do |corpus| %>
				<%= render :partial => 'shared/corpus_index_small', :locals => {:corpus => corpus} %>
			<% end %>
		<% end %>

		<% if @user.publication_owner_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= @user.publication_owner_of.size%></span>
				</div>
				<div class='span10'><strong>Publications</strong></div>
			</div>
			<% @user.publication_owner_of.each do |pub| %>
				<%= render :partial => 'shared/publication_index_small.html.erb', 
				:locals => {:p => pub} %>
			<% end %>
		<% end %>


		<% if @user.tool_owner_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= @user.tool_owner_of.size%></span>
				</div>
				<div class='span10'><strong>Tools</strong></div>
			</div>
			<% @user.tool_owner_of.each do |tool| %>
				<%= render :partial => 'shared/tool_index_small', :locals => {:tool => tool} %>
			<% end %>
		<% end %>
	</div>
</div>
<% if current_user && current_user.super_key != nil %>
<br/>
<div class='row-fluid'>
		<div class='span6'>
			<a href='#destroy-confirm-<%= @user.id %>' class='delete-confirm btn btn-small btn-danger' data-toggle='modal'>Destroy User</a>
		</div>
</div>
<% end %>

<div class='modal hide fade' id='destroy-confirm-<%= @user.id %>' style='display:none'>
	<div class='modal-header'>
		<a class='close' data-dismiss='modal'>x</a>
		<h3>Are you sure?</h3>
	</div>
	<div class='modal-body'>
		<p>Are you sure you wish to permanently <b>destroy</b>
			user <span class='label'><%= @user.name %></span> with email <span class='label label-info'><i><%= @user.email%></i></span>?
		</p>
	</div>
	<div class='modal-footer'>
		<%= link_to 'Destroy', '/users/'+@user.id.to_s, :method => :delete, :class => 'btn btn-danger' %>
		<a href="#" data-dismiss="modal" class="btn">Cancel</a>
	</div>
</div>
