<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
	<%= javascript_include_tag "user_home.js" %>
<% end %>

<div class='center hero-unit grad1'>
	<h1><%= current_user.name%></h1>
	<small><%= current_user.email %></small>
	
	<p>
	<!--Not you? Then <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br/>-->
	</p>
</div>

<div class='row-fluid'>
	<div class="span2">
		<ul class="nav nav-tabs nav-stacked">
			<li class='l-nav'><a href='/users' class=''>Show All Users</a></li>
			<li class='l-nav'><a href='/user/invite' class=''>Invite a Friend</a></li>

			<li class='l-nav'><a href='/corpora' class=''>View Corpora</a></li>
			<li><a href='/corpora/new' class=''>New Corpus</a></li>
		</ul>
	</div>
	
	<div class='span5'>
		<h5>Recent Activity</h5>
	</div>
	
	<div class='span5'>
		<h5>My Corpora</h5>
		<% current_user().owner_of.each do |corpus| %>
			<div class='corpi_item' id='corpi-<%= corpus.id %>'>
				<h4><%= corpus.name %></h4>
				
				<span class='corpi_l'><%= corpus.language %></span>
				<span class='corpi_l pull-right'>Duration: <%= corpus.human_duration %> </span>
				<br/>
				
				<% if user_signed_in? %>
					<%= link_to 'Show', corpus, :class => 'btn btn-mini' %>
					<%= link_to 'Edit', edit_corpus_path(corpus), :class => 'btn btn-mini' %>
					<!--<%= link_to 'Destroy', corpus, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>-->
					<% if corpus.owners.include?(current_user())%>
						<a href="#delete-confirm-<%=corpus.id%>" data-id="<%= corpus.id %>" class="delete-confirm btn btn-mini btn-danger pull-right hButton" data-toggle="modal">
							<%= render :partial => 'shared/icon', :locals => {:icon => 'remove'} %>
						</a>
					<% end %>
				
				 <% end %>
			</div>
		
			<div class="modal fade" id="delete-confirm-<%= corpus.id %>">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>Are you sure?</h3>
				</div>
				<div class="modal-body">
					<p>Just checking.</p>
				</div>
				<div class="modal-footer">
					<%= link_to 'Destroy', 'corpora/'+corpus.id.to_s, 
						:method => :delete,
						:remote => true, 
						:class => 'btn', 
						:id => 'delete_corpus',
						'data-id' => corpus.id.to_s %>
					<a href="#" data-dismiss="modal" class="btn">Cancel</a>
				</div>
			</div>
		<% end %>
	</div>
	
</div>

