<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
	<%= javascript_include_tag "user_home.js" %>
<% end %>

<div class='row-fluid'>
	<div class="span3">
		<div class='box' style='word-wrap: break-word'> 
			<center>
				<h4><%= current_user.name%></h4>
				<small>
					<%= current_user.email %>
				</small>
				<br/>
			</center>
		</div>

		<input id='people_search' type='text' class='span12' placeholder='Search People'>
		
		<div id='people_result' style="margin-bottom:5px">
		</div>

		<ul class="nav nav-tabs nav-stacked">
			<li class='l-nav'><a href='/user/inbox?v=unread' class=''>Inbox</a></li>
			<li class='l-nav'><a href='/users' class=''>Show All Users</a></li>
			<li class='l-nav'><a href='/user/invite' class=''>Invite a Friend</a></li>

			<li class='l-nav'><a href='/corpora' class=''>View All Corpora</a></li>
			<li class='l-nav'><a href='/publications' class=''>View All Publications</a></li>
			<li class='l-nav'><a href='/tools' class=''>View All Tools</a></li>

			<li><a href='/corpora/new' class='lnav_hl'>New Corpus</a></li>
			<li><a href='/publications/new' class='lnav_hl'>New Publication</a></li>
		</ul>
	</div>

	<div class='span4'>

	</div>

	<div class='span5'>
		<% if current_user().owner_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= current_user().owner_of.size%></span>
				</div>
				<div class='span10'><strong>My Corpora</strong></div>
			</div>
			<% current_user().owner_of.each do |corpus| %>
				<%= render :partial => 'shared/corpus_index_small', :locals => {:corpus => corpus} %>
			<% end %>
		<% end %>

		<% if current_user().publication_owner_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= current_user().publication_owner_of.size%></span>
				</div>
				<div class='span10'><strong>My Publications</strong></div>
			</div>
			<% current_user().publication_owner_of.each do |pub| %>
				<%= render :partial => 'shared/publication_index_small.html.erb', 
				:locals => {:p => pub} %>
			<% end %>
		<% end %>

		


		<% if current_user().tool_owner_of.size > 0 %>
			<div class='row-fluid'>
				<div class='span2'>
					<span class='badge badge-info'><%= current_user().tool_owner_of.size%></span>
				</div>
				<div class='span10'><strong>My Tools</strong></div>
			</div>
			<% current_user().tool_owner_of.each do |tool| %>
				<%= render :partial => 'shared/tool_index_small', :locals => {:tool => tool} %>
			<% end %>
		<% end %>


		

	</div>

</div>

<script type='text/javascript'>
var _people_result = new Array();
var _people_result_div = $('#people_result');
var _people_search_div = $('#people_search');
updateResult();

_people_search_div.keyup(function() {
	var v=$(this).val();
	$.getJSON("/users/mixed_search", {q:v}, function(data) {
		_people_result = data;
		updateResult();
	});
});

$('.presult').live('click', function() {
	var id = $(this).attr('data-id');
	window.location = "/users/"+id;
});

function updateResult() {
	if(_people_result.length == 0) {
		_people_result_div.hide();
	} else {
		var html = "";
		var onclick = "";
		for(var i in _people_result) {
			html += "<div class='corpi_item_small presult' data-id='"+_people_result[i].email+"'>"+_people_result[i].name+"</div>";
		}
		_people_result_div.html(html);
		_people_result_div.slideDown();
	}
}
</script>