<% content_for :javascript_includes do %>
<%= javascript_include_tag "resource_index.js" %>
<% end %>

<% my_corpora = current_user.associated_corpora %>
<% my_pubs = current_user.associated_publications %>
<% my_tools = current_user.associated_tools %>

<div class='row-fluid'>
	<div class="span3">
		<div class='box bordered1' id='profile-box'>
				<div class='boxheader small toggleable'>
					<%= current_user().name%>
					<strong class='pull-right'>
						<i class='icon-signal signal' id='faye-connection-indicator'></i>
					</strong>
				</div>

				<div class='boxcontent padfree'>

					<div class='avatar-wrapper'>
						<div class='profile-avatar-wrapper'>
							<%= image_tag gravatar_user_path(:id => current_user), :id => :profile_avatar %>
						</div>
						<div id='gravatar-email-wrapper'>
							<input type='email' placeholder='Gravatar Email' id='gravatar-email' value="<%= current_user.gravatar_email || current_user.email %>"/>
						</div>
					</div>

					<div id='inst_holder'>
						<% inst_flag = false # more efficient this way - SFR %>
						<% current_user.insts.each do |inst| %>
							<span class='label label-info inst' id='inst-<%= inst.id %>' title='Remove'>
								<i class='fa fa-fw fa-university inst-icon'></i>
								<%= inst.name %>
							</span>
							<% inst_flag = true %>
						<% end %>
						<span id='add-inst' class='label label-info opt' title="Add Institution">
							<%=raw 'Add Institution &nbsp;' unless inst_flag %>
							<i class='fa fa-fw fa-plus'></i>
						</span>
					</div>

					<div id='inst_search_wrapper'>
						<br/>
						<input id='inst_search' type='text' class='span12' placeholder='Add Institution' data-autocomplete="/institutions/autocomplete_institution_name"/>
					</div>

					<div class='email-dec-wrapper'>
						<% current_user.email.split(/(\W)/).each do |part| %>
							<span class='email-dec'><%= part %></span>
						<% end %>
					</div>
			</div>

		</div>

		<div class='alert alert-info' id='gravatar-infobox'>
			<h4>Alternate email address for your <a href='http://en.gravatar.com/' target='_blank'>Gravatar</a> avatar.</h4>
			<p>
				This is only for your avatar. 
				In order to change the email address associated
				with your account
				please visit Settings > Edit Account
			</p>
		</div>

		<input id='people-search' type='text' class='span12' placeholder='Search People'>
		
		<div id='people-result' style="margin-bottom:5px">
		</div>

		<ul class="nav nav-tabs nav-stacked" id='side_menu'>
			<li class='l-nav'><a href='/user/inbox?v=unread' class=''>
				<i class='fa fa-fw fa-inbox'></i>
				Inbox 
				<span class='badge pull-right' id='inbox-count'>
					<%= current_user.received_messages.unreaded.size %>
				</span>
			</a></li>
			<li class='l-nav'><a href='/users' class=''>
				<i class='fa fa-fw fa-users'></i>
				Show All Users
			</a></li>
			<li class='l-nav'><a href='/user/invite' class=''>
				<i class='fa fa-fw fa-ticket'></i>
				Invite a Friend
			</a></li>
			<li class='l-nav'><a href='/how-to' class=''>
				<i class='fa fa-fw fa-question-circle'></i>
				How-To
			</a></li>
			<% if current_user.super_key %>
			<li class='l-nav'><a href='/admin' class=''>
				<i class='fa fa-fw fa-power-off'></i>
				Admin Panel
			</a></li>
			<% end %>

			<% unless my_corpora.size > 0 %>
				<li><a href='/corpora/new' class='lnav_hl'>
					<%= render :partial => 'shared/icons/corpus' %>
					New Corpus
				</a></li>
			<% end %>

			<% unless my_pubs.size > 0 %>
				<li><a href='/publications/new' class='lnav_hl'>
					<%= render :partial => 'shared/icons/publication' %>
					New Publication
				</a></li>
			<% end %>
			<% unless my_tools.size > 0 %>
				<li><a href='/tools/new' class='lnav_hl'>
					<%= render :partial => 'shared/icons/tool' %>
					New Tool
				</a></li>
			<% end %>
		</ul>
	</div>

	<div class='span5'>
		<!-- <div class='row-fluid'>
			<strong>
				<i class='icon-signal signal' id='faye-connection-indicator'></i>
				Activity
			</strong>
		</div> -->
		<div id='actionsHolder'>
			<% @actions.each do |a| %>
				<%= render :partial => 'user_action', :locals => {:ua => a} %>
			<% end %>
			<!-- <a class='btn btn-small' href='#'>
				<i class='fa fa-bar-chart-o'></i>
				Graph
			</a> -->
			<%= paginate @actions, :window => 1 %>
			<br/>
		</div>
		<br/>		
	</div>
	
	<div class='span4'>
		<% if my_corpora.size > 0 %>
			<div class='box borderfree'>
				<div class='boxheader small toggleable'>
					My <%= "Corpus".pluralize(my_corpora.size) %>
					<span class='pull-right resource-count'><%= my_corpora.size%></span>
				</div>
				<div class='boxcontent padfree'>
					<% if my_corpora.size == 0 %>
					<div class='alert alert-warning missing-resource-sticker'>
						<h4>You are not a part of any Corpus</h4>
						<p>
							We encourage you to Join a Corpus
							or Create A New Corpus.
						</p>
					</div>
					<% end %>
					<% my_corpora[0...5].each do |corpus| %>
						<%= render :partial => 'shared/corpus_index_small', :locals => {:corpus => corpus} %>
					<% end %>
					<div>
						<!-- corpora -->
						<div class='btn-group pull-right btn-group-narrow'>
							<a href='/corpora/new' class='btn btn-mini'>
								<i class='icon-plus'></i>&nbsp;New
							</a>
							<% if my_corpora.size > 5 %>
								<a href="corpora?query=&amp;roles=member,owner,approver&amp;order=created_at" class='btn btn-mini'>
									<i class='icon-list'></i>&nbsp;List All
								</a>
							<% end %>
						</div> <!-- end of button group --> 
					</div>
					<br/>
				</div> <!-- end of box content -->
			</div> <!-- end of box -->
		<% end %>
		

		<% if my_pubs.size > 0 %>
			<div class='box borderfree'>
				<div class='boxheader small toggleable'>
					My <%= "Publication".pluralize(my_pubs.size) %>
					<span class='pull-right resource-count'><%= my_pubs.size %></span>
				</div>

				<div class='boxcontent padfree'>
					<% if my_pubs.size == 0 %>
					<div class='alert alert-warning missing-resource-sticker'>
						<h4>You are not a part of any Publication</h4>
						<p>
							We encourage you to Join a Publication
							or Create A New Publication.
						</p>
					</div>
					<% end %>
					<% my_pubs[0...5].each do |pub| %>
						<%= render :partial => 'shared/publication_index_small.html.erb', 
						:locals => {:p => pub} %>
					<% end %>

					<div>
						<!-- publications -->
						<div class='btn-group pull-right btn-group-narrow'>
							<a href='/publications/new' class='btn btn-mini'>
								<i class='icon-plus'></i>&nbsp;New
							</a>
							<% if my_pubs.size > 5 %>
								<a href='publications?query=&amp;roles=owner,reviewer,member&amp;order=created_at' class='btn btn-mini'>
									<i class='icon-list'></i>&nbsp;List All
								</a>
							<% end %>
						</div> <!-- end of button group -->
					</div> 
					<br/>
				</div> <!-- end of boxcontent -->
			</div> <!-- end of box -->
		<% end %>


		<% if my_tools.size > 0 %>
			<div class='box borderfree'>

				<div class='boxheader small toggleable'>
					My <%= "Tool".pluralize(my_tools.size) %>
					<span class='pull-right resource-count'><%= my_tools.size %></span>
				</div>

				<div class='boxcontent padfree'>
					<% if my_tools.size == 0 %>
					<div class='alert alert-warning missing-resource-sticker'>
						<h4>You are not a part of any Tool</h4>
						<p>
							We encourage you to Join a Tool
							or Create A New Tool.
						</p>
					</div>
					<% end %>
					<% my_tools[0...5].each do |tool| %>
						<%= render :partial => 'shared/tool_index_small', :locals => {:tool => tool} %>
					<% end %>
					<div>
						<!-- tools -->
						<div class='btn-group pull-right btn-group-narrow'>
							<a href='/tools/new' class='btn btn-mini'>
								<i class='icon-plus'></i>&nbsp;New
							</a>
							<% if my_tools.size > 5 %>
								<a href='tools?query=&amp;roles=owner,reviewer,member&amp;order=created_at' class='btn btn-mini'>
									<i class='icon-list'>&nbsp;List All</i>
								</a>
							<% end %>
						</div> <!-- end of button group -->
					</div>
					<br/>
				</div> <!-- end of box content -->
			</div> <!-- end of box -->
		<% end %>

		

	</div>
</div>
<script type='text/javascript' src='<%= @faye_url %>.js'></script>
<%= javascript_include_tag "handle_box_toggleable.js" %>
<%= javascript_include_tag "user_home.js" %>


<!--
<% if flash[:error] || flash[:notice] || flash[:alert] %>
  	<div class='alert alert-error'>
  		<button type="button" class="close" data-dismiss="alert">×</button>
  		<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  		<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  		<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  	</div>
  <% end %>
-->