<h2>Forgot your password?</h2>

<div class='row-fluid'>
	<div class='span4'>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class='row-fluid'>
		<div class='span2'><%= f.label :email, :class=>'span12' %></div>
		<div class='span10'>
			<%= f.email_field :email, :class => 'span12' %>
		</div>
	</div>

	<div class='row-fluid'>
		<div class='span12'><%= f.submit "Send me reset password instructions", :class => 'btn span12' %></div>
	</div>
<% end %>
	</div>
</div>

<%= render "devise/shared/links" %>
