<div class='corpi_item' data-show="<%= publication_path(p)%>">

	<h4 class='index-header1'><%= p.name %>
		<% if p.pubdate && p.pubdate.year != 0%>
			<span class='badge datestamp'>
				<!-- <i class='fa fa-fw fa-calendar'></i> -->
				<%= p.pubdate.year %>
			</span>
		<% end %>
	</h4>

	<% if p.authors && !p.authors.blank?%>
		<span class='corpi_l'><%= p.authors.split("\n").join(", " )%></span>
		<br/>
	<% end %>

	<% if p.keywords && !p.keywords.blank? %>
		<% p.keywords_array.each do |kw| %>
			<%= render :partial => 'shared/keyword', :locals => {:kw => kw} %>
		<% end %>
		<br/>
	<% end %>

	<p>
	<% if p.description && !p.description.blank? %>
		<%=raw snippet(markdown(p.description)) %>
	<% end %>
	</p>

	<div class='index-item-info-bar'>
		Created <%= time_ago_in_words(p.created_at) %> ago, 
		Updated <%= time_ago_in_words(p.updated_at) %> ago
	</div>

	<div class='index-item-option-bar'>
		<div class='btn-group'>

			<a href='<%= corpora_publication_path(p)%>' class='btn btn-mini'><i class='icon-book'></i>&nbsp;Corpora</a>
			<a href='<%= tools_publication_path(p)%>' class='btn btn-mini'><i class='icon-wrench'></i>&nbsp;Tools</a>
			
			<% if p.url && !p.url.blank? %>
				<a href='<%= p.url %>' target='_blank' class='btn btn-mini'><i class='icon-share-alt'></i>&nbsp;URL</a>
			<% end %>
			<% if p.local && !p.local.blank? %>
				<a href='/publications/<%= p.id %>/download' class='btn btn-mini'><i class='icon-download'></i>&nbsp;Download</a>
			<% end %>

		</div>

		<% if user_signed_in? %>
			<% if p.canEdit?(current_user) %>
				<div class='btn-group pull-right'>
					<a href='<%= edit_publication_path(p)%>' class='btn btn-mini'><i class='icon-edit'></i>&nbsp;Edit</a>

					<a href='<%= manage_members_publication_path(p) %>' class='btn btn-mini'><i class='icon-user'></i>&nbsp;Manage Members</a>

					<a href="#delete-confirm-pub-<%=p.id%>" data-id="<%= p.id %>" class="delete-confirm btn btn-mini btn-danger" data-toggle="modal">
						<i class='icon-remove-sign'></i>&nbsp;Delete</i>
					</a>

				</div>

				<div class="modal fade" id="delete-confirm-pub-<%= p.id %>" style="display:none">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>Are you sure you want to delete this Publication?</h3>
					</div>
					<div class="modal-body">
						<p>You will destroy this publication and all of its relationships.</p>
					</div>
					<div class="modal-footer">
						<%= link_to 'Destroy', '/publications/'+ p.id.to_s, :method => :delete, 
							:class => 'btn' %>
						<a href="#" data-dismiss="modal" class="btn">Cancel</a>
					</div>
				</div>

			<% end %>
		<% end %>

	</div> <!--end of index item option bar-->
</div>

<div class="modal fade" id="delete-confirm-pub-<%= p.id %>" style="display:none">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>Just checking.</p>
	</div>
	<div class="modal-footer">
		<%= link_to 'Destroy', '/publications/'+ p.id.to_s, :method => :delete, 
			:class => 'btn' %>
		<a href="#" data-dismiss="modal" class="btn">Cancel</a>
	</div>
</div>