<% content_for :javascript_includes do %>
	<%= javascript_include_tag "contact.js" %>
<% end %>

<div class='hero-unit'>
	<div class='center'>
	
	<h1>Contact Us</h1>
	
	<div class='about'>
		<p>Reciprosody is hosted and maintained by the 
		<a href='http://speech.cs.qc.cuny.edu/' target='_blank'>Speech Lab @ Queens College </a>in Flushing, Queens, New York, New York.</p>
		
		<p>Please contact Andrew Rosenberg (<a href='mailto:andrew@cs.qc.cuny.edu' target='_blank'>andrew@cs.qc.cuny.edu</a>) with any questions or comments about Reciprosody.</p>
	</div>
	
	</div>
	
	<!-- <div class='quick_question'>

		<div id='sug_wrapper'> -->
			<%= form_tag '/sug_submit', :remote => true, :method => 'get', 'data-type' => :json, :id => 'sug_form' do%>

				<div class='row-fluid'>
					<%= text_field_tag "name", nil, :placeholder => 'Name', :id => 'sug_name', :class => 'span6'%>
					<%= text_field_tag "email", nil, :placeholder => 'Email', :id => 'sug_email', :class => 'span6', :type => 'email' %>
				</div>
				
				<div class='row-fluid'>
					<div class='span12'>
						<%= text_area "text", nil, :placeholder => 'I think you should...', :id => 'sug_text' %>
					</div>
				</div>

				<div class='row-fluid'>
					<%= recaptcha_tags :ajax => true, :display => {:theme => 'red'}%><br/>
				</div>

				<div class='row-fluid'>
					<%= submit_tag "Send", :id => 'submit', :class => 'btn btn-large btn-primary span12'%>
				</div>

			<% end %>
			
			<div id='response'>
			</div>

		<!-- </div>
	</div> -->

</div> <!-- end of Hero Unit -->