<div class='row-fluid comment' id='comment-<%= comment.id %>' data-id='<%= comment.id %>'>
	<div class='span12 inner'>
		<div class='header'>
			<a href='/users/<%= comment.user.id %>'><%= comment.user.name %></a>
			<span class='corpus_show_value'>
				<%= comment.updated_at.to_formatted_s(:short) %>
			</span>
			&nbsp;/&nbsp;
			<span class='corpus_show_value'>
				<%= time_ago_in_words(comment.updated_at)%> ago
			</span>

			<span class='pull-right'>
				
				<% if current_user() && current_user().corpora.to_a.include?(@corpus)%>
					<a href='#' class='commentReply_bt'>Reply <i class='icon-comment'></i></a>
					
					<% if comment.user_id == current_user().id %>
					<span class='removable'>
					&nbsp;&nbsp;
					<%= link_to raw("Delete <i class='icon-trash'></i>"), remove_comment_corpus_path(@corpus)+"?comment_id="+comment.id.to_s, :class => 'deletable', :remote => true, :format => :json, 'data-comid' => comment.id%>
					&nbsp;
					</span>
					<% end %>
				<% end %>	
			</span>
		</div>

		<div class='commentBody'>
		<p><%=raw comment.body %></p>
		</div>

		<div class='children'>
		<% if comment.has_children? %>
			<% comment.children.reverse.each do |child| %>
				<%= render :partial => 'comment', :locals => {:comment => child} %>
			<% end %>
		<% end %>
		</div>
	</div>

	
</div>