<div class='row-fluid comment' id='comment-<%= comment.id %>'>
	<div class='box span12'>
		<h5 class='boxheader'><%= comment.user.name %></h5>
		<p><%= comment.body %></p>
		<p class='pull-right corpus_show_value'> 
			<% if current_user() && comment.user_id == current_user().id %>
				<%= link_to "remove comment", remove_comment_corpus_path(@corpus)+"?comment_id="+comment.id.to_s, :class => 'btn btn-mini deletable', :remote => true, 'data-comid' => comment.id%>
			<% end %>
			<%= time_ago_in_words(comment.updated_at)%> ago
		</p> <br/>
	</div>
</div>