<%= content_for :javascript_includes do%>
	<%= javascript_include_tag 'dropload.js' %>
	<%= javascript_include_tag 'corpora_form.js' %>
<% end %>

<!--<%= setup_upload %>-->

<div class="modal fade" id="upload-progress-warning">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Please Wait</h3>
	</div>
	<div class="modal-body">
		<p>Your upload is in progress.</p>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Ok</a>
	</div>
</div>

<div class="modal fade" id="please-wait-warning">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Please Wait</h3>
	</div>
	<div class="modal-body">
		<p>This might take some time</p>
	</div>
	<div class="modal-footer">
		<!--<a href="#" data-dismiss="modal" class="btn">Ok</a>-->
	</div>
</div>

<%= form_for(@corpus, :multipart => true, :remote => true, :html => {'data-type' => 'json', :id => 'new_corpus'},) do |f| %>

	<div class='row-fluid'>

		<div id="error_box" class='alert alert-error span11'>
			
			<div id='errors'>
				
			</div>
			
		</div>
		
	</div>
	
	<div id='dropbar_holder'></div>
	
	<div class='row-fluid'>

		<div class="field span4">
			<%= f.label :name %>
			<%= f.text_field :name, :title => 'Reminder', 'data-content' => "Please choose an appropriate name. This field is required.<hr/>For more help see our <a href='/how-to' target='_blank'>How-To</a>"%>
		</div>

		<div class="field span4">
			<%= f.label :language, "Language" %>
			<%= f.autocomplete_field :language, '/corpora/autocomplete_language_name', :title => 'Reminder', 'data-content' => "This field is required.<hr/>For more help see our <a href='/how-to' target='_blank'>How-To</a>"%>
		</div>

		<div class='field span4'>
			<%= f.label :num_speakers, "Number of Speakers" %>
			<%= f.number_field :num_speakers, :value => '1' %>
		</div>

	</div>
	
	
	<div class='row-fluid'>
		<div class='field span4'>
			<%= f.label :hours, "Hours"%>
			<%= f.number_field :hours, :title => 'Reminder', 'data-content' => "The total time must be greater than zero. <hr/>For more help see our <a href='/how-to' target='_blank'>How-To</a>"%>
		</div>

		<div class='field span4'>
			<%= f.label :minutes, "Minutes"%>
			<%= f.number_field :minutes,  :title => 'Reminder', 'data-content' => "The total time must be greater than zero. <hr/>For more help see our <a href='/how-to' target='_blank'>How-To</a>"%>
		</div>

		<div class='field span4'>
			<%= f.label :seconds, "Seconds"%>
			<%= f.number_field :seconds%>
		</div>

	</div>
  
	<div class='row-fluid'>
		<div class='field span4'>
			<%= f.label :speaker_desc, "Speaker Description" %>
			<%= f.text_field :speaker_desc, :placeholder => 'Male, Late 50s'%>
		</div>
		<div class='field span4'>
			<%= f.label :genre, "Genre" %>
			<%= f.text_field :genre, :placeholder => 'Historical' %>
		</div>

		<div class='field span4'>
			<%= f.label :annotation, "Annotation" %>
			<%= f.text_field :annotation %>
		</div>
	</div>
  
  <div class='row-fluid'>

  </div>
  
	<div class='row-fluid'>

		<div class='field span4'>
			<%= f.label :license, "License" %>
			<%= f.autocomplete_field :license, '/corpora/autocomplete_license_name' %>
		</div>

		<div class="field span4">
			<%= render :partial => 'shared/dropbox' %>
		</div>

	</div>
  
	<div class='row-fluid'>
		<div class="field span4">
			<%= f.label :description %>
			<%= f.text_area :description , :class => 'big_desc'%>
		</div>

		<div class="field span4">
			<%= f.label :citation %>
			<%= f.text_area :citation , :class => 'big_desc'%>
		</div>

		<div class="field span4">
			<label for="msg">Commit Message</label>
			<textarea class="big_desc" cols="40" id="msg" name="msg" rows="20"></textarea>
		</div>
	</div>
  
	<div class="actions">
		<input type='submit' value="Edit Corpus" class="btn btn-primary span12" id='submit_btn'/>

	</div>
<% end %>
