<%= form_for(@corpus, :multipart => true) do |f| %>

  <% if @corpus.errors.any? %>
  	<div class='row-fluid'>
  	
		  <div id="error_explanation" class='alert alert-error span11'>
		  	 <button type="button" class="close" data-dismiss="alert">×</button>
		    <p><%= pluralize(@corpus.errors.count, "error") %> prohibited this corpus from being saved:</p>
		    <ul>
		    <% @corpus.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
    
    </div>
  <% end %>
	
	<div class='row-fluid'>
	
		<div class="field span4">
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>
		
		<div class="field span4">
		  <%= f.label :language, "Language" %>
		  <%= f.autocomplete_field :language, '/corpora/autocomplete_language_name' %>
		</div>
    
   	<div class='field span4'>
			<%= f.label :num_speakers, "Number of Speakers" %>
		  <%= f.number_field :num_speakers, :value => '1' %>
		</div>
    
  </div>
  <div class='row-fluid'>
    <div class='field span4'>
        <%= f.label :hours, "Hours"%>
        <%= f.number_field :hours, :value => 0%>
    </div>
    
    <div class='field span4'>
        <%= f.label :minutes, "Minutes"%>
        <%= f.number_field :minutes, :value => 0%>
    </div>

    <div class='field span4'>
        <%= f.label :seconds, "Seconds"%>
        <%= f.number_field :seconds, :value => 0%>
    </div>

  </div>
  
  <div class='row-fluid'>
  	 <div class='field span4'>
			<%= f.label :speaker_desc, "Speaker Description" %>
		  <%= f.text_field :speaker_desc, :placeholder => 'Male, Late 50s' %>
		</div>
		<div class='field span4'>
			<%= f.label :genre, "Genre" %>
		  <%= f.text_field :genre, :placeholder => 'Historical' %>
		</div>
		
		<div class='field span4'>
			<%= f.label :annotation, "Annotation" %>
		  <%= f.text_field :annotation %>
		</div>
  </div>
  
  <div class='row-fluid'>
  
		<div class='field span4'>
			<%= f.label :license, "License" %>
		  <%= f.autocomplete_field :license, '/corpora/autocomplete_license_name' %>
		</div>
		
		<div class="field span4">
		  <%= f.label :upload %>
		  <%= f.file_field :upload %>
		</div>
		
		<div class="field span4">
			<label>New External Members?</label>
			<a href='/user/invite' class='btn' target="_blank">Invite a Friend</a>
		</div>
  </div>
  
  <div class='row-fluid'>
		<div class="field span4">
		  <%= f.label :description %>
		  <%= f.text_area :description , :class => 'big_desc'%>
		</div>
		
		<div class="field span4">
		  <%= f.label :citation %>
		  <%= f.text_area :citation , :class => 'big_desc'%>
		</div>
		
		<div class="field span4">
		  <label for='members'>Owner</label>
		  <%= f.autocomplete_field :user, '/corpora/autocomplete_user_name', :value => current_user.email_format %>
		</div>
		
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
