<%= form_for(@corpus, :multipart => true) do |f| %>
  <% if @corpus.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>
    	 <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= pluralize(@corpus.errors.count, "error") %> prohibited this corpus from being saved:</p>
      <ul>
      <% @corpus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language, "Language" %>
    <%= f.autocomplete_field :language, '/corpora/autocomplete_language_name' %>
  </div>
  
  <div class='field'>
  	<%= f.label :num_speakers, "Number of Speakers" %>
    <%= f.number_field :num_speakers, :value => '1' %>
  </div>
  
  <div class='field'>
  	<%= f.label :speaker_desc, "Speaker Description" %>
    <%= f.text_field :speaker_desc, :placeholder => 'Male, Late 50s' %>
  </div>
  
  <div class='field'>
  	<%= f.label :genre, "Genre" %>
    <%= f.text_field :genre, :placeholder => 'Historical' %>
  </div>
  
  <div class='field'>
  	<%= f.label :annotation, "Annotation" %>
    <%= f.text_field :annotation %>
  </div>
  
  <div class='field'>
  	<%= f.label :license, "License" %>
    <%= f.text_field :license %>
  </div>
  
  <div class="field">
    <%= f.label :upload %>
    <%= f.file_field :upload %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description , :class => 'big_desc'%>
  </div>
  
  <div class="field">
    <%= f.label :citation %>
    <%= f.text_area :citation , :class => 'big_desc'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
