<%= form_for(@corpus, :multipart => true) do |f| %>
  <% if @corpus.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>
    	 <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= pluralize(@corpus.errors.count, "error") %> prohibited this corpus from being saved:</p>
      <ul>
      <% @corpus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language, "Language" %>
    <%= f.autocomplete_field :language, '/corpora/autocomplete_language_name' %>
  </div>
  
  <div class="field">
    <%= f.label :upload %>
    <%= f.file_field :upload %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description , :class => 'big_desc'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
