<tr>
	<td>
		<a href='<%= url_for(ua.user_actionable) %>' class='dark'>
			<%= render :partial => 'shared/icon.corpus' %>
			<%= ua.user_actionable.name %>
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<span class=''>
				<small class='corpus_show_name'>
					Version:
				</small>
				<small class='corpus_show_value'>
					<%= ua.version %>
				</small>
			</span>
		</a>
	</td>
</tr>
<tr>
	<td></td>
	<td>
		<div>
		<% @corpus = ua.user_actionable %>
		<% msg = JSON.parse(ua.message) %>
		<%= render :partial => 'corpora/shout_single_upload_small', :locals => {
			:files => msg['files'], 
			:rpath => msg['rpath'],
			:message => msg['message'],
		} %>

		</div>
	</td>
</tr>
