<% content_for :javascript_includes do %>
	<%= javascript_include_tag 'wavesurfer.js'%>
	<%= javascript_include_tag 'webaudio.js'%>
	<%= javascript_include_tag 'drawer.js'%>
	<%= javascript_include_tag 'audio.js'%>
	<%= javascript_include_tag 'resumable.js' %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'browse'} %>

<h4 class=''>
<% if @rpath != "/" %>
	<a href='<%= browse_corpus_path(@corpus) %>?path=<%= File.dirname(@rpath) %>'>..</a>
<% end %>
<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %></h4>
<div class='dir_browser'>
	<% @files.each do |file| %>
	
			<% if File.directory?(file) %>
					<div class='corpi_item_small' onclick="browse('<%= File.basename(file) %>')">
						<i class='icon-folder-close'></i>
						<%= File.basename(file) %>
						<span class='badge pull-right'><%= number_to_human_size(File.size(file)) %></span>
					</div>
			<% else %>
					<div class='corpi_item_small' onclick="download('<%= File.basename(file) %>')">
						<i class='icon-file'></i>
						<%= File.basename(file) %>
						<span class='badge pull-right'><%= number_to_human_size(File.size(file)) %></span>
					</div>
			<% end %>
		
	<% end %>

	<% if current_user() && @corpus.canEdit?(current_user()) %>
	<div class='corpi_item_small' style="border-left:2px solid orange;" onclick="$('#single_file_uploader').toggle()">
		<i class='icon-plus'></i> Single File Upload <br/>
	</div>

	<% end %>
</div>

<% if current_user() && @corpus.canEdit?(current_user()) %>
<div id='single_file_uploader' class='box row-fluid' style="display:none">
	<br/>
	<%= form_tag single_upload_corpus_path(@corpus) do %>
	<%= render :partial => 'shared/resumable_stuff' %>
	<br/>
	<textarea class='big_desc span12' style="resize:none" placeholder="Commit Message" name="msg"></textarea>
	<input type="hidden" name="rpath" value="<%=@rpath%>"/>
	<input type='submit' class='btn span12'/>
	<% end %>
	<br/>
</div>
<% end %>


<% if @file %>
<div class='row-fluid content'>
	<div class='box span12'>
		<h5 class='boxheader'><%= File.basename(@file) %> <a class='badge badge-info' href='<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&noview=true'><i class='icon-download'></i></a></h5>

	<%if @ext == ".md"  %>
		<%=raw markdown(@content)%>
	<%elsif @ext == ".wav" %>
		<div class='waveform'>
			<canvas style="height:200px;"></canvas>
		</div>
		<div class="controls">
                <button class="btn" data-action="back">
                    <i class="icon icon-step-backward"></i>
                    Seek Backward
                </button>

                <button class="btn" data-action="play">
                    <i class="icon icon-play"></i>
                    Play
                    /
                    <i class="icon icon-pause"></i>
                    Pause
                </button>

                <button class="btn" data-action="forth">
                    <i class="icon icon-step-forward"></i>
                    Seek Forward
                </button>

                <button class="btn btn-success" data-action="green-mark">
                    <i class="icon icon-flag"></i>
                    Set green mark
                </button>

                <button class="btn btn-danger" data-action="red-mark">
                    <i class="icon icon-flag"></i>
                    Set red mark
                </button>
            </div>

	<% else %>
		<pre>
			<%= @content %>
		</pre>
	<% end %>
	</div>
</div>
<% end %>

<%= javascript_include_tag "use_resumable.js" %>

<script type='text/javascript'>
	function browse(basename) {
		var url = "<%=browse_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}
	function download(basename) {
		var url = "<%=single_download_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}

	var wavesurfer = (function () {
	    'use strict';

	    var wavesurfer = Object.create(WaveSurfer);

	    wavesurfer.init({
	        canvas        : document.querySelector('.waveform canvas'),
	        fillParent    : true,
	        markerColor   : 'rgba(0, 0, 0, 0.5)',
	        frameMargin   : 0.1,
	        maxSecPerPx   : parseFloat(location.hash.substring(1)),
	        scrollParent  : true,
	        loadPercent   : true,
	        waveColor     : '#afafaf',
	        progressColor : '#7d7d7d',
	        loadingColor  : 'purple',
	        cursorColor   : 'navy'
	    });

	    wavesurfer.load('<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&noview=true')

	    //wavesurfer.bindDragNDrop();

	    var eventHandlers = {
	        'play': function () {
	            wavesurfer.playPause();
	        },

	        'green-mark': function () {
	            wavesurfer.mark({
	                id: 'up',
	                color: 'rgba(0, 255, 0, 0.5)'
	            });
	        },

	        'red-mark': function () {
	            wavesurfer.mark({
	                id: 'down',
	                color: 'rgba(255, 0, 0, 0.5)'
	            });
	        },

	        'back': function () {
	            wavesurfer.skipBackward();
	        },

	        'forth': function () {
	            wavesurfer.skipForward();
	        }
	    };

	    document.addEventListener('keyup', function (e) {
	        var map = {
	            32: 'play',
	            38: 'green-mark',
	            40: 'red-mark',
	            37: 'back',
	            39: 'forth'
	        };
	        if (e.keyCode in map) {
	            var handler = eventHandlers[map[e.keyCode]];
	            e.preventDefault();
	            handler && handler(e);
	        }
	    });

	    document.addEventListener('click', function (e) {
	        var action = e.target.dataset && e.target.dataset.action;
	        if (action && action in eventHandlers) {
	            eventHandlers[action](e);
	        }
	    });

	    return wavesurfer;
	}());

</script>
<br/>
<%= render :partial => 'footer' %>