<% content_for :javascript_includes do %>
	<%= javascript_include_tag 'wavesurfer.js'%>
	<%= javascript_include_tag 'webaudio.js'%>
	<%= javascript_include_tag 'drawer.js'%>
	<%= javascript_include_tag 'audio.js'%>
	<%= javascript_include_tag 'resumable.js' %>
	<%= javascript_include_tag 'd3.v3.js' %>
	<%= javascript_include_tag 'JSPraat.mini.js' %>
<% end %>

<% setup_upload %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'browse'} %>

<div class='row-fluid'>
	<div class='span7'>
		<% if flash[:alert] %>
		<div class='alert alert-error'>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:alert] %>
		</div>
		<% end %>

		<% if @file %>
		<div class='row-fluid content'>
			<div class='box borderfree span12'>
				<div class='boxheader'>
					<%= File.basename(@file) %> 
					<a class='pull-right' href='<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&amp;noview=true'>
					<%= render :partial => 'shared/icons/download' %>
					</a>
				</div>

				<div class='boxcontent padfree'>
					<%if File.extname(@file) == ".md"  %>
						<%=raw markdown(@content)%>
					<%elsif [".png", ".jpg", ".jpeg", ".gif"].include?(@ext) %>
						<img src="<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&amp;noview=true">
					<%elsif @ext == '.TextGrid' %>
					
					<div class='TSG-container' data-textgrid="<%= single_download_corpus_path(@corpus)%>?noview=true&amp;path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>" data-audio=''></div>
					<script>JSPraat.TimeSyncedGrid.autoRender();</script>

					<%elsif @ext == ".wav" %>
						<div class='waveform'>
							<canvas style="height:200px;"></canvas>
						</div>
						<div class="controls">
				                <button class="btn btn-mini" data-action="back">
				                    <i class="icon icon-step-backward"></i>
				                    Seek Backward
				                </button>

				                <button class="btn btn-mini" data-action="play">
				                    <i class="icon icon-play"></i>
				                    Play
				                    /
				                    <i class="icon icon-pause"></i>
				                    Pause
				                </button>

				                <button class="btn btn-mini" data-action="forth">
				                    <i class="icon icon-step-forward"></i>
				                    Seek Forward
				                </button>

				                <button class="btn btn-mini btn-success" data-action="green-mark">
				                    <i class="icon icon-flag"></i>
				                    Set green mark
				                </button>

				                <button class="btn btn-mini btn-danger" data-action="red-mark">
				                    <i class="icon icon-flag"></i>
				                    Set red mark
				                </button>
				            </div>

					<% else %>
						<pre><%= @content %></pre>
					<% end %>
				</div> <!-- end of box content -->
			</div> <!-- end of box -->
		</div>
		<% end %>
	</div> <!-- end of second major column -->
	<div class='span5'>
		<h4 class=''>
		<% if @rpath != "/" %>
			<a href='<%= browse_corpus_path(@corpus) %>?path=<%= File.dirname(@rpath) %>'>..</a>
		<% end %>
		<%= @rpath %><% if @file %><%= "/" if @rpath != "/"%><%=File.basename(@file)%><% end %>
		</h4>

		<div class='dir_browser'>
			<% @files.each do |file| %>
			
					<% if File.directory?(file) %>
							<div class='corpi_item_small file' onclick="browse('<%= File.basename(file) %>')">
								<i class='fa fa-fw fa-folder'></i>
								<%= File.basename(file) %>
								<span class='file-controls pull-right'>
									<a href='#dfc-<%= file.hash %>' role="button" class='pull-right delete-confirm badge badge-warning' data-toggle="modal">
										<i class='icon-remove'></i>
									</a>

									<span class='pull-right'>&nbsp;</span>

									<a href='#rfc-<%= file.hash %>' role="button" class='pull-right rename-confirm badge badge-info' data-toggle="modal">
										<i class='icon-edit'></i>
									</a>

									<span class='pull-right'>&nbsp;</span>

									<a href='#' class='pull-right badge badge-info hidden'>
										<i class='icon-download'></i>
									</a>

									<span class='pull-right'>&nbsp;</span>
								</span>
							</div>

					<% else %>
						<div class='corpi_item_small file' onclick="download('<%= File.basename(file) %>')">
							<% ext = File.extname(file) %>
							<% case ext %>
							<% when ".wav" %>
							<i class='fa fa-fw fa-file-audio-o'></i>
							<% when ".pdf" %>
							<i class='fa fa-fw fa-file-pdf-o'></i>
							<% when ".jpg", ".gif", ".jpeg", ".png" %>
							<i class='fa fa-fw fa-file-image-o'></i>
							<% when ".md", ".txt" %>
							<i class='fa fa-fw fa-file-text-o'></i>
							<% else %>
							<i class='fa fa-fw fa-file-o'></i>
							<% end %>

							<%= File.basename(file) %>
							
							<span class='file-controls pull-right'>

								<a href='#dfc-<%= file.hash %>' role="button" class='pull-right delete-confirm badge badge-warning' data-toggle="modal">
									<i class='icon-remove'></i>
								</a>

								<span class='pull-right'>&nbsp;</span>

								<a href='#rfc-<%= file.hash %>' role="button" class='pull-right rename-confirm badge badge-info' data-toggle="modal">
									<i class='icon-edit'></i>
								</a>

								<span class='pull-right'>&nbsp;</span>

								<a href='<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(file) if file %>&amp;noview=true' class='pull-right badge badge-inverse download'>
									<%= render :partial => 'shared/icons/download' %>
								</a>

								<span class='pull-right'>&nbsp;</span>

								<span class='badge pull-right'><%= number_to_human_size(File.size(file)) %></span>

							</span>
						</div>

					<% end %>
					<div class="modal hide fade" id="dfc-<%= file.hash %>" style="display:none">
						<div class="modal-header">
							<a class="close" data-dismiss="modal">×</a>
							<h3>Are you sure you want to delete <%= File.basename(file) %>?</h3>
						</div>
						<div class="modal-body">
							<p>Just checking.</p>
						</div>
						<div class="modal-footer">
							<%= link_to 'Destroy', '/corpora/'+@corpus.id.to_s+"/single_delete?rpath=#{@rpath}#{'/' if @rpath != '/'}#{File.basename(file)}", :method => :delete, :class => 'btn' %>
							<a href="#" data-dismiss="modal" class="btn">Cancel</a>
						</div>
					</div>

					<div class="modal hide fade" id="rfc-<%= file.hash %>" style="display:none">
						<div class="modal-header">
							<a class="close" data-dismiss="modal">×</a>
							<h3>Are you sure you want to Rename <%= File.basename(file) %>?</h3>
						</div>

						<%= form_tag single_rename_corpus_path(@corpus), :method => 'post' do %>
						<div class="modal-body">
							<input type='hidden' name="rpath" value="<%= @rpath %><%= '/' if @rpath != '/' %><%= File.basename(file) %>"/>
							<input type='text' name="newname" value='<%= File.basename(file) %>'/>
						</div>
						<div class="modal-footer">
							<input type="submit" value='Rename' class='btn'/>

							<a href="#" data-dismiss="modal" class="btn">Cancel</a>
						</div>
						<% end %>
					</div>
				
			<% end %>

			<% if current_user() && @corpus.canEdit?(current_user()) %>
			<div class='corpi_item_small' style="border-left:2px solid orange;" onclick="$('#single_file_uploader').toggle()">
				<i class='fa fa-fw fa-plus'></i> Upload New Files
			</div>

			<% end %>
		</div>

		<% if current_user() && @corpus.canEdit?(current_user()) %>
		<div id='single_file_uploader' class='box borderfree row-fluid' style="display:none;box-sizing:border-box;">
			<br/>
			<%= form_tag single_upload_corpus_path(@corpus) do %>
			<%= render :partial => 'shared/resumable_stuff' %>
			<br/>
			<textarea class='big_desc span12' style="resize:none" placeholder="Commit Message" name="msg"></textarea>
			<input type="hidden" name="rpath" value="<%=@rpath%>"/>
			<input type='submit' class='btn span12'/>
			<% end %>
			<br/>
		</div>
		<% end %>
	</div> <!-- end of first major column -->
</div> <!-- end of main row -->


<script type='text/javascript'>
	var _resumableAllowMultifile = true;
</script>

<%= javascript_include_tag "use_resumable.js" %>

<script type='text/javascript'>
	var _overDelete = false;
	var _overRename = false;
	var _overDownload = false;

	$('.delete-confirm').mouseenter(function() {
		_overDelete = true;
	});
	$('.delete-confirm').mouseleave(function() {
		_overDelete = false;
	});
	$('.rename-confirm').mouseenter(function() {
		_overRename = true;
	});
	$('.rename-confirm').mouseleave(function() {
		_overRename = false;
	});
	$('.download').mouseenter(function() {
		_overDownload  = true;
	});
	$('.download').mouseleave(function() {
		_overDownload = false;
	});

	$('.file').hover(function(){
		$('.file-controls').removeClass('active');
		$(this).find('.file-controls').addClass('active');
	}, function() {
		// $(this).find('.file-controls').removeClass('active');
	});

	function browse(basename) {
		if(_overDelete || _overRename || _overDownload)
			return;
		var url = "<%=browse_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}
	function download(basename) {
		if(_overDelete || _overRename || _overDownload)
			return;
		var url = "<%=single_download_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}
	
	var wavesurfer = (function () {
	    'use strict';

	    var wavesurfer = Object.create(WaveSurfer);

	    wavesurfer.init({
	        canvas        : document.querySelector('.waveform canvas'),
	        fillParent    : true,
	        markerColor   : 'rgba(0, 0, 0, 0.5)',
	        frameMargin   : 0.1,
	        maxSecPerPx   : parseFloat(location.hash.substring(1)),
	        scrollParent  : true,
	        loadPercent   : true,
	        waveColor     : '#afafaf',
	        progressColor : '#7d7d7d',
	        loadingColor  : 'purple',
	        cursorColor   : 'navy'
	    });

	    wavesurfer.load('<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&amp;noview=true')

	    //wavesurfer.bindDragNDrop();

	    var eventHandlers = {
	        'play': function () {
	            wavesurfer.playPause();
	        },

	        'green-mark': function () {
	            wavesurfer.mark({
	                id: 'up',
	                color: 'rgba(0, 255, 0, 0.5)'
	            });
	        },

	        'red-mark': function () {
	            wavesurfer.mark({
	                id: 'down',
	                color: 'rgba(255, 0, 0, 0.5)'
	            });
	        },

	        'back': function () {
	            wavesurfer.skipBackward();
	        },

	        'forth': function () {
	            wavesurfer.skipForward();
	        }
	    };

	    document.addEventListener('keyup', function (e) {
	        var map = {
	            32: 'play',
	            38: 'green-mark',
	            40: 'red-mark',
	            37: 'back',
	            39: 'forth'
	        };
	        if (e.keyCode in map) {
	            var handler = eventHandlers[map[e.keyCode]];
	            e.preventDefault();
	            handler && handler(e);
	        }
	    });

	    document.addEventListener('click', function (e) {
	        var action = e.target.dataset && e.target.dataset.action;
	        if (action && action in eventHandlers) {
	            eventHandlers[action](e);
	        }
	    });

	    return wavesurfer;
	}());

</script>

<br/>
<%= render :partial => 'footer' %>
<%= javascript_include_tag "handle_box_toggleable.js" %>