<% content_for :javascript_includes do %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'browse'} %>

<h4 class=''>
<% if @rpath != "/" %>
	<a href='javascript:history.go(-1)'>..</a>
<% end %>
<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %></h4>
<div class='dir_browser'>
	<% @files.each do |file| %>
	
			<% if File.directory?(file) %>
					<div class='corpi_item_small' onclick="browse('<%= File.basename(file) %>')">
						<i class='icon-folder-close'></i>
						<%= File.basename(file) %>
						<span class='badge pull-right'><%= number_to_human_size(File.size(file)) %></span>
					</div>
			<% else %>
					<div class='corpi_item_small' onclick="download('<%= File.basename(file) %>')">
						<i class='icon-file'></i>
						<%= File.basename(file) %>
						<span class='badge pull-right'><%= number_to_human_size(File.size(file)) %></span>
					</div>
			<% end %>
		
	<% end %>
</div>

<% if @content %>
<div class='row-fluid content'>
	<div class='box span12'>
		<h5 class='boxheader'><%= File.basename(@file) %> <a class='badge badge-info' href='<%= single_download_corpus_path(@corpus)%>?path=<%= @rpath %><%= "/" if @rpath != "/"%><%= File.basename(@file) if @file %>&noview=true'><i class='icon-download'></i></a></h5>

	<%if @ext == ".md"  %>
		<%=raw markdown(@content)%>
	<% else %>
		<pre>
			<%= @content %>
		</pre>
	<% end %>
	</div>
</div>
<% end %>

<script type='text/javascript'>
	function browse(basename) {
		var url = "<%=browse_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}
	function download(basename) {
		var url = "<%=single_download_corpus_path(@corpus)%>?path=<%= @rpath if @rpath != '/' %>/"+basename;
		console.log(url);
		window.location = url;
	}
</script>