<% content_for :javascript_includes do %>
  <%= javascript_include_tag "comments.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'comments'} %>

<input type='hidden' id='cid' data-cid='<%= @corpus.id %>'/>

<% if current_user() && current_user().corpora.to_a.include?(@corpus) #association filter %>

	<%= form_tag add_comment_corpus_path(@corpus), :remote => true, :method => 'get', 'data-type' => :json, :id => 'newComment_form' do%>


		<div class='row-fluid'>
			<div class='span12'>
				<textarea class='autosize newCommentBox span12' name="msg" id='input' placeholder="New Comment" data-cid="<%= @corpus.id %>"></textarea>
				<center>
					<input type='submit' class='btn btn-small btn-primary span12' id='submit' value='Post!'/>
				</center>
			</div>
		</div>

	<% end %>

<% end %>

<div class='replyCommentWrapper row-fluid' id='replyNode'>
	<textarea class='autosize span12 replyCommentBox' placeholder='Reply'></textarea><br/>
	<button class='btn btn-mini' id='replyPost_bt'>Post</button>
	<button class='btn btn-mini' id='replyCancel_bt'>Cancel</button>
</div>

<div id="comments_holder">
	<% @comments.each do |comment| %>
		<%= render :partial => 'comment', :locals => {:comment => comment} %>
	<% end %>
</div>

<br/>

<%= render :partial => 'footer' %>




    
