<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<h1>Corpora</h1>
<% unless user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please Sign-in or Register to download, view, edit, and upload Corpora.</h5>
	</div>
<% end %>
		 
<% @corpora.each do |corpus| %>
	<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => corpus} %>
  	<div class="modal fade" id="delete-confirm-<%= corpus.id %>" style="display:none">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Are you sure?</h3>
		</div>
		<div class="modal-body">
			<p>Just checking.</p>
		</div>
		<div class="modal-footer">
			<%= link_to 'Destroy', '/corpora/'+corpus.id.to_s, :method => :delete, :class => 'btn' %>
			<a href="#" data-dismiss="modal" class="btn">Cancel</a>
		</div>
	</div>
  
<% end %>

<br />

<%if user_signed_in? %>
	<div class='row-fluid'>
		<%= link_to 'New Corpus', new_corpus_path, :class => 'btn span12' %>
	</div>
<% end %>
