<% content_for :javascript_includes do %>
	<%= javascript_include_tag "resource_index.js" %>
<% end %>

<h1 class='resourceIndexHeader'>Corpora</h1>

<% unless user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please Sign-in or Register to download, view, edit, and upload Corpora.</h5>
	</div>
<% end %>

<div class='indexTop row-fluid'>
	<div class='resourceSearchBar span6'>
		<form class='form-horizontal' id='resourceSearchForm'>
			<input type='text' placeholder='Search' class='resourceSearch input' name='query' id='resourceSearchQuery'/>
			<button class='btn btn-small btn-primary'><i class='icon-search'></i></button>
			&nbsp;
			<!-- <span class='badge'><i class='icon-filter'></i></span> -->
			<span class='btn-group' id='roleToggleGroup'>
				<a class='btn btn-small' data-name='member' id='role-member'>Member</a>
				<a class='btn btn-small' data-name='owner' id='role-owner'>Owner</a>
				<a class='btn btn-small' data-name='approver' id='role-approver'>Approver</a>
			</span>
			<span class='btn-group'>
				
				<a class='btn btn-small' id='selectedOrder' data-name='created_at' disabled>Created</a>
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu">
					<li><a href='#' class='orderButton' data-name='created_at' id='order-created_at'>Created</a></li>
					<li><a href='#' class='orderButton' data-name='updated_at' id='order-updated_at'>Updated</a></li>
					<li><a href='#' class='orderButton' data-name='name' id='order-name'>Name</a></li>
				</ul>

			</span>
			
		</form>
	</div>
	
	<div class='span6 paginationWrapper'>
		<%= paginate @corpora %>
	</div>
</div>
		 
<% @corpora.each do |corpus| %>
	<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => corpus} %>
<% end %>

<div class='indexBottom'>
	<%= paginate @corpora %>
	<br/>
</div>

<%if user_signed_in? %>
	<br/>
	<div class='row-fluid'>
		<%= link_to 'New Corpus', new_corpus_path, :class => 'btn span12' %>
	</div>
<% end %>

<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'corpora'} %>
