<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<h1>Corpora</h1>
<% if !user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please Sign-in or Register for download, view, edit, and upload corpora.</h5>
	</div>
<% end %>
		 
<% @corpora.each do |corpus| %>
	<div class='corpi_item'>	
	    <h4><%= corpus.name %></h4>
	    
	    <span class='corpi_l'><%= corpus.language %></span>
	    <span class='corpi_l pull-right'>Duration: <%= corpus.human_duration %> </span>
	    <br/>
	    <p><%=raw snippet(markdown(corpus.description)) %></p>
    
    
    	<% if user_signed_in? %>
    		<%= link_to 'Show', corpus, :class => 'btn btn-mini' %>
    		<%= link_to 'Comments', comments_corpus_path(corpus), :class => 'btn btn-mini' %>

		  	<% if corpus.canEdit?(current_user())%>
		    	<%= link_to 'Edit', edit_corpus_path(corpus), :class => 'btn btn-mini' %>
		    	<%= link_to 'Manage Members', manage_members_corpus_path(corpus), :class => 'btn btn-mini' %>

		  		<a href="#delete-confirm-<%=corpus.id%>" data-id="<%= corpus.id %>" class="delete-confirm btn btn-mini btn-danger pull-right hButton" data-toggle="modal"><%= render :partial => 'shared/icon', :locals => {:icon => 'remove'} %>&nbsp; Delete</a>
		  	<% end %>
		  
		 <% end %>
  	</div>
  
  	<div class="modal fade" id="delete-confirm-<%= corpus.id %>">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Are you sure?</h3>
		</div>
		<div class="modal-body">
			<p>Just checking.</p>
		</div>
		<div class="modal-footer">
			<%= link_to 'Destroy', '/corpora/'+corpus.id.to_s, :method => :delete, :class => 'btn' %>
			<a href="#" data-dismiss="modal" class="btn">Cancel</a>
		</div>
	</div>
  
<% end %>





<br />
<%if user_signed_in? %>
	<%= link_to 'New Corpus', new_corpus_path, :class => 'btn' %>
<% end %>
