<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'publications'} %>

<br/>
<% if current_user() %>
	<div class='row-fluid'>
		<a href='/publications/new?corpus_id=<%= @corpus.id %>' class='btn btn-primary span12'>
			New Publication
		</a>
	</div>
	<br/></br>
<% end %>

<% if @corpus.publications %>
	<% @corpus.publications.each do |p| %>
		<%= render :partial => 'shared/publication_index1.html.erb', 
			:locals => {:p => p} %>
	<% end %>
<% end %>

<br/><br/>

<%= render :partial => 'footer' %>



    
