<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'publications'} %>

<br/>

<a href='/publications/new?corpus_id=<%= @corpus.id %>' class='btn btn-primary'>
	New Publication
</a>

<br/></br>

<% if @corpus.publications %>
	<% @corpus.publications.each do |p| %>
		<%= render :partial => 'shared/publication_index1.html.erb', 
			:locals => {:p => p} %>
	<% end %>
<% end %>

<br/><br/>

<%= render :partial => 'footer' %>



    
