<%= content_for :javascript_includes do%>
	<%= javascript_include_tag 'show_fix.js' %>
<% end %>

<!--<%= setup_upload %>-->

<!--<span class='corpus_header'><%= @corpus.name %><span class='corpus_icon pull-right'></span></span>-->

<%= render :partial => 'tabs', :locals => {:tab => 'details'} %>

<br/>

<%if flash[:notice] %>
<div class='alert alert-info'>
	<h5 id="notice"><%= notice %></h5>
</div>
<% end %>

<div class='tab-content'>
	<div class='tab-pane active' id='details'>
		
		<div class='row-fluid'>
			<div class='box span12'>
				<span class='corpus_show_name'>Language:</span> 
				<span class='corpus_show_value'><%= @corpus.language %></span>

				<span class='pull-right'>
					<span class='corpus_show_name'>Duration:</span>
					<span class='corpus_show_value'><%= @corpus.human_duration %></span>
				</span>
			</div>
		</div>

		<% unless @corpus.description.blank? %>
		<div class='row-fluid'>
			<div class='box span12'>
				<h5 class='boxheader'>
					Description</h5>
					
				<%=raw markdown(@corpus.description) %>
			</div>
		</div>
		<% end %>

		<% unless @corpus.citation.blank? %>
		<div class='row-fluid'>
			<div class='box span12'>
				<h5 class='boxheader'>Citation</h5>
				
				<%=raw markdown(@corpus.citation) %>
			</div>
		</div>
		<% end %>


		<div class='row-fluid'>
			<div class='box span4 r1-box'>
				<% unless @corpus.speaker_desc.blank? %>
					<span class='corpus_show_name'>Speaker Description:</span>
					<span class='corpus_show_value'><%= @corpus.speaker_desc %></span>
					<br/>
				<% end %>

				<% unless @corpus.num_speakers.blank? %>
					<span class='corpus_show_name'>Number of Speakers:</span>
					<span class='corpus_show_value'><%= @corpus.num_speakers %></span>
					<br/>
				<% end %>

				<% unless @corpus.genre.blank? %>
				<span class='corpus_show_name'>Genre:</span>
				<span class='corpus_show_value'><%= @corpus.genre %></span>
				<br/>
				<% end %>

				<% unless @corpus.annotation %>
				<span class='corpus_show_name'>Annotation:</span>
				<span class='corpus_show_value'><%= @corpus.annotation %></span>
				<br/>
				<% end %>

				<% unless @corpus.license.blank? %>
				<span class='corpus_show_name'>License:</span>
				<span class='corpus_show_value'><%= @corpus.license %></span>
				<% end %>
				
			</div>

			<div class='box span4 r1-box'>
				<!--<%= render :partial => 'shared/dropbox' %>-->
			</div>
	
			<div class='box span4 row-fluid r1-box'>
				<%= form_tag("/corpora/#{@corpus.id}/download", :method => :get) do%>
					<div class='row-fluid'>
						<%= select_tag(:name, options_for_select(@archives), :class=>'span6 vSelect') %>
						<input type='submit' class='btn btn-primary cdownload span6' value="Download" <%= "disabled" unless current_user()%> title="<%= 'Please Sign In' unless current_user() %>">
						<span class='corpus_show_name'>Last Modified:</span> 
						<span class='corpus_show_value badge'><%= time_ago_in_words(@last_modified) %> ago</span>
						<br/>
						<span class='corpus_show_name'><%= pluralize(@revisions, "Revision")%></span> 
					</div>
				<% end %>
			</div>
		</div>
		
		<div class='row-fluid'>
			<% if current_user && current_user().super_key %>
				<div class='box span12'>
					<h5 class='boxheader'>Root Only Info</h5>
					<span class='corpus_show_name'>UUID:</span>
					<span class='corpus_show_value'><%= @corpus.utoken %></span> &nbsp;
					<i class='icon-eye-open'></i>
				</div>
			<% end %>
	
		</div>

		<!---Memberships row-->

		<% if @corpus.memberships.size > 0 %>
		<div class='row-fluid'>
			<div class='box span4 r2-box'>
				<h5 id='owners_hd'><%= pluralize(@corpus.owners.size, 'Owner', 'Owners') %></h5>

					<% @corpus.owners.each do |owner| %>
						<%= render :partial => 's.member', :locals => {:mem => owner} %>
					<% end %>

			</div>
			
			<div class='box span4 r2-box'>
				<h5 id='approvers_hd'><%= pluralize(@corpus.approvers.size, 'Approver', 'Approvers') %> </h5>
								
				<% @corpus.approvers.each do |approver| %>
					<%= render :partial => 's.member', :locals => {:mem => approver } %>
				<% end %>								
				
			</div>
			
			<div class='box span4 r2-box'>
				<h5 id='members_hd'><%= pluralize(@corpus.members.size, 'Member', 'Members') %> </h5>
				<% @corpus.members.each do |member| %>
					<%= render :partial => 's.member', :locals => {:mem =>  member} %>
				<% end %>
			</div>
			
		</div> <!--End of row-fluid for Memberships-->
		<% end %>
		
		
	</div> <!--End of Details -->
		
	
</div> <!--End of Tab Content-->

<br/>
<%= render :partial => 'footer' %>



