<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'tools'} %>

<br/>
<% if current_user() %>
	<div class='row-fluid'>
		<a href='/tools/new?corpus_id=<%= @corpus.id %>' class='btn btn-primary span12'>
			New Tool
		</a>
	</div>
	<br/>
<% end %>

	
<% @toolCorpusRelationships.each do |rel| %>
	<div class='row-fluid'>
		<% if current_user() && @corpus.canEdit?(current_user()) %>
		<div class='span3'>
			<label for='relationship-<%=rel.id%>' class='tag'>Relationship To Corpus</label>

			<input id="relationship-<%= rel.id %>" class="ui-autocomplete-input span12" data-autocomplete="/corpora/autocomplete_tool_corpus_relationship_name" size="30" type="text" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">

			<br/>
			<button class='btn btn-mini btn-danger' data-id='<%= rel.id %>'>Remove Relationship</button>
		</div>
		<% end %>

		<div class='<%= (current_user() && @corpus.canEdit?(current_user())) ? "span9" : "span12" %>'>
			<%= render :partial => 'shared/tool_index1', :locals => {:tool => rel.tool} %>
		</div>
		
	</div>
<% end %>

<br/><br/>

<%= render :partial => 'footer' %>



    
