<% content_for :javascript_includes do %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'history'} %>

<br/>
<% @commits.each do |c| %>
	<div class="logEntry box">
		<h6>Version <%= c[:version] %> <span class='pull-right'> <%= c[:dateString] %></span></h6>
		<%=raw c[:msg] %>
		<br/>
		<span class="member_email pull-right" title="<%= c[:name] %>"><a href="/users/<%= c[:email] %>" class="btn btn-mini" target="_BLANK">
			<i class="icon-user"></i>&nbsp;<%= c[:name]%></a>
		</span>
		<br/>
	</div>
<% end %>
<br/>

<%= render :partial => 'footer' %>




    
