<% content_for :javascript_includes do %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'history'} %>
<br/>

<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="switch btn btn-primary">Enhanced</button>
  <button type="button" class="switch btn">Raw</button>
</div>
<br/><br/>

<div class='enhanced'>
<h3><%= pluralize(@revisions, "Version")%></h3>
<% @commits.each do |c| %>
	<div class="logEntry box">
		<div class='boxheader small left toggleable'>
			&nbsp;
			Version <%= c[:version] %> <span class='pull-right'> <%= time_ago_in_words(c[:dateString]) %> ago</span>
		</div>

		<div class='boxcontent'>
			<%=raw c[:msg] %>
			<% if c[:status_changes] && c[:status_changes].size > 0 %>
			<br/>
			<div class='svn_status_toggle btn btn-mini'>Pre-Commit Status</div>
			<div class='svn_status monospace'>
			<% c[:status_changes].each do |change| %>
				<div class='svn_file_status'>
					<span class='label label-inverse'><%= change.status %></span>
					&nbsp;
					<a href='/corpora/<%= @corpus.id %>/browse?path=/<%= change.file %>'><%= change.file %></a>
				</div>
			<% end %>
			</div>
			<% end %>
			

			<span class="member_email pull-right" title="<%= c[:name] %>">
				<a href="/users/<%= c[:user_id] %>" class="btn btn-mini" target="_BLANK">
				<i class="icon-user"></i>&nbsp;<%= c[:name]%></a>
			</span> 
			<span class='pull-right'>&nbsp;</span>
			<a class='btn btn-mini btn-primary pull-right' href='/corpora/<%=@corpus.id%>/download?name=utf8=%E2%9C%93&name=%2B<%=c[:version]%>'>
				Download
			</a><br/>

		</div>
	</div>
<% end %>
</div>

<div class='raw' style="display:none">
	<pre><%=raw @rawlog %></pre>
</div>

<br/>

<script type='text/javascript'>
	$('.switch').click(function() {
		$('.switch').removeClass('btn-primary');
		$(this).addClass('btn-primary');
		if($(this).html() == "Raw") {
			$('.enhanced').hide();
			$('.raw').show();
		} else {
			$('.raw').hide();
			$('.enhanced').show();
		}
	});
	//$('.svn_status').hide();
	$('.svn_status_toggle').click(function() {
		var st = $(this).next('.svn_status');
		if(st.is(":visible")) {
			st.hide();
		} else {
			st.show();
		}
	});
	$('.svn_status').hide();
</script>

<%= render :partial => 'footer' %>
<%= javascript_include_tag "handle_box_toggleable.js" %>




    
