<!DOCTYPE html>
<html>
<head>
  <title>Reciprosody2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar navbar-inverse navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container'>
			<div class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
			</div>
			<a id='logo' href='/'>Reciprosody <span id='btag'>beta</span></a>
			
			<div class='nav-collapse collapse'>
				<ul class='nav'>
					<li><a href='/'>Home</a></li>
					<li><a href='/corpora'>Corpora</a></li>
					<% if user_signed_in? %>
						<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
					<%else%>
						<li><a href='/users/sign_in'>Sign in</a></li>
					<%end%>
				</ul>
				

				<ul class='nav pull-right'>
					<% if user_signed_in? %>
						<li>
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
								<img src='/assets/settings.png' width=20 height=20 />
								<%= current_user.name %>
								<b class='caret'></b>
							</a>
							<ul class='dropdown-menu'>
								<li><a href='/users/edit'>Edit Account</a></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>
					<%else%>
					<%end%>
				</ul>
				
			</div>
		</div>
	</div>
</div>
<div class='container'>
	<%= yield %>
	<hr>
	<div class='container below_hr row-fluid'>
		<div class='span5'>
			<a href='/' class='pull-left'>Reciprosody</a>&nbsp;is hosted and maintained by the <a href='http://speech.cs.qc.cuny.edu/' target='_blank'>Speech Lab @ Queens College</a>
		</div>
		
		<div class='span3 pull-right'>
			<a href='/contact' class='pull-right padleft'>Contact</a>
			<a href='/faq' class='pull-right padleft'>FAQ</a>
			<a href='/about' class='pull-right padleft'>About</a>
		</div>
	</div>
</div>

<!--
<div class='navbar navbar-fixed-bottom'>
	<div class='navbar-inner'>
		<div class='container'>
		
			<form class='navbar-search pull-right'>
				<input type='text' class='search-query' placeholder='Search'>
			</form>
		
			<ul class='nav pull-left'>
				<li><a href='/about'>About</a></li>
				<li><a href='/faq'>FAQ</a></li>
				<li><a href='/contact'>Contact</a></li>
			</ul>
		
		</div>
	</div>
</div>
--> 

</body>
</html>
